body {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 16px;
  color: #1b1b1b;
}

.rs-unsupported {
  width:100%;
  margin:0 auto;
  padding:30px;
}

.rs-unsupported h1{
  margin: 0 0 30px 0;
}

.rs-unsupported ul {
  margin: 15px 30px;
  padding: 15px 0;
}

.rs-unsupported ul li {
  margin-bottom: 10px;
}
