---
permalink: "{{ page.filePathStem }}.html" # prefer named files, not blog-like permalinks
local_styles:
  - "./assets/stylesheets/unsupported_browser.css"
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head_tags_universal %}
  {% include head_tags_styles_scripts %}
</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>
