---
permalink: "{{ page.filePathStem }}.html" # prefer named files, not blog-like permalinks
hide_signin: false
cdn_styles:
  - href: "https://global.oktacdn.com/okta-signin-widget/5.5.2/css/okta-sign-in.min.css"
    integrity: "sha384-4AU/gyygVPVvyhusYR7zfD/dqlzjJ43STE4S8LYxeJtSgO43of15iAuMLhEUhqOt"

cdn_scripts:
  - src: "https://global.oktacdn.com/okta-signin-widget/5.5.2/js/okta-sign-in.min.js"
    integrity: "sha384-/ChTOdf7wyPfhB76d9iGkmkHGb8GKebmTKNNXX8BQEjnl9f+WbMdgNjBSg3SJOEp"
  - src: "https://cdnjs.cloudflare.com/ajax/libs/uswds/2.11.1/js/uswds-init.min.js"
    integrity: "sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA=="
  - src: "https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    integrity: "sha384-LQc6P0tjydf0IS2VO/iGZcRhIK1mYatxhr+EGHA361ABtAiPhLj0Y9H6zAqto47a"
  - src: "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity: "sha384-Uz1UHyakAAz121kPY0Nx6ZGzYeUTy9zAtcpdwVmFCEwiTGPA2K6zSGgkKJEQfMhK"
  - src: "https://cdn.jsdelivr.net/npm/downloadjs@1.4.7/download.min.js"
    integrity: "sha384-fcq+FmM9tqGUeb2KuKl26ktwu/FxKAe200X+jtjXtbF3oCgVdr2GHQrC/+hZJJXg"
  - src: "https://cdn.jsdelivr.net/npm/bowser@2.11.0/es5.min.js"
    integrity: "sha384-R0OpnAeG8y80/p5oJlW9wxH8P9Jg8vBS4YV9TEDjALMf45FLrfWXYh/044JjB0Ah"
  - src: "https://unpkg.com/idle-timeout/dist/idle-timeout.min.js"
    integrity: "sha384-pnYyqArzZ7HO4tSicFts5wXMpqb02zmd7pD66LSQpCR0ZeIOotIOq6ohF0lQFc1S"
  - src: "https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"
    integrity: "sha384-BqW9ZnUhs8B3bGaZeNfcY6qQnTHMeMu5/NsLjEoGGzY5eXVsGlTxQC18eAn5bY9z"
  - src: "https://js.monitor.azure.com/scripts/b/ai.2.min.js"

post_scripts:
  - src: "/js/uswds.min.js"

local_styles:
  - "/assets/stylesheets/styles.css"
  - "/assets/stylesheets/tabs.css"
  - "/assets/stylesheets/font-awesome-all.css"
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head_tags_universal %}
  {% include head_tags_styles_scripts %}
  {% if nestedPage %}
    <script src="../../js/localhost_data.js"></script>
    <script src="../../js/prime-web-receiver-pre.js"></script>
    <script src="../../js/application-insights.js"></script>
  {% else %}
    <script src="../js/localhost_data.js"></script>
    <script src="../js/prime-web-receiver-pre.js"></script>
    <script src="../js/application-insights.js"></script>
  {% endif %}

</head>

<body>

{% include banner %}
{% if show_navbar %}
  {% include navbar %}
{% endif %}

<main id="main-content" {% if title == "index" %}class="padding-y-0"{% endif %}>
  {% if pageStyle == "fullWidth" %}
    {{ content }}
  {% elsif pageStyle == "sidebarMenu" %}
    {% include page_sidebar_menu %}
  {% else %}
    {% include page_standard %}
  {% endif %}
</main>

{% if disclaimer %}
  {% include disclaimer %}
{% endif %}

{% include identifier %}

  {% for entry in post_scripts %}
    <script src="{{entry.src}}" {% if integrity %}integrity="{{entry.integrity}}"{% endif %} crossorigin="anonymous"></script>
  {% endfor %}

</body>

{% if nestedPage %}
  <script src="../../js/prime-web-receiver-post.js"></script>
{% else %}
  <script src="../js/prime-web-receiver-post.js"></script>
{% endif %}

</html>
