// AutoUpdateFileChromatic
@use "../../global-modules.scss" as *;

.NavbarDefault {
  background-color: color("white");
  border-bottom: 1px solid color("primary-darker");
}

.NavbarBlueVariant {
  background-color: color("primary-darker");
  border-bottom: 1px solid color("white");

  :global {
    .usa-logo__text, .usa-nav__primary button span{
      color: color("white");
    }
    
    .usa-nav__primary button[aria-expanded=false] span::after {
      background-color: color("white");
    }

    .usa-button.usa-button--outline {
      box-shadow:  0 0 0 2px color("white");
      color: color("white");

      &:hover {
        box-shadow:  0 0 0 2px color("gray-10");
        color: color("gray-10");
      }
    }
    
    .usa-button:not(.usa-button.usa-button--outline) {
      background-color: color("white");
      color: color("primary-darker");

      &:hover {
        background-color: color("gray-10");
      }
    }

    .usa-nav__primary button[aria-expanded=true], .usa-nav__submenu {
      background-color: color("white");
    }

    .usa-nav__submenu .usa-nav__submenu-item a {
      color: color("primary-darker");
    }

    .usa-nav__primary button[aria-expanded=true] {
      & span {
        color: color("primary-darker");

        &:after {
          background-color: color("primary-darker");
        }
      }
    }
  }
}