// AutoUpdateFileChromatic
@use "../../global-modules.scss" as *;

.NavbarDefault {
  background-color: color("white");
}

.NavbarBlueVariant {
  background-color: color("primary-darker");

  :global {
    .usa-logo__text, .usa-nav__primary button span, .usa-nav__submenu .usa-nav__submenu-item a {
      color: color("white");
    }
    
    .usa-nav__primary button[aria-expanded=false] span::after {
      background-color: color("white");
    }

    .usa-button.usa-button--outline {
      box-shadow:  0 0 0 2px color("white");
      color: color("white");
    }
    
    .usa-button:not(.usa-button.usa-button--outline) {
      background-color: color("white");
      color: color("primary-darker");

      &:hover {
        background-color: color("gray-5");
      }
    }
  }
}