// AutoUpdateFileChromatic
@use "../../global-modules.scss" as *;

.Navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet) {
    height: 104px;
  }

  :global {
    .usa-nav {
      height: 100%;
    }

    .usa-menu-btn {
      cursor: pointer;
    }

    .usa-nav-container {
      align-items: center;
      height: 100%;
      margin: 0;
    }

    .usa-nav__submenu {
      margin-top: -26px;
    }

    .usa-nav__submenu .usa-nav__submenu-item a {
      padding: 0.5rem 1.5rem;
    }
    
    .usa-nav.is-visible {
      .usa-accordion {
        padding-bottom: 64px;
      }

      .nav-cta-container {
        margin-top: 16px;
        order: 2;

        & .usa-button {
          margin-bottom: 8px;
          width: 100%;
        }
      }
  
      .usa-nav__primary button {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .usa-nav__primary .usa-accordion__button span {
        padding-right: 8px;
      }
    }
  }
}

.NavbarDefault {
  background-color: color("white");
  border-bottom: 1px solid color("primary-darker");

  :global {
    .usa-nav__link:hover::after {
      background-color: color("base-lighter");
    }

    .usa-nav__primary button[aria-expanded=true] {
      background-color: color("white");

      & span {
        color: color("base-darkest");

        &:after {
          background-color: color("base-darkest");
        }
      }
    }

    .usa-nav.is-visible {
      .usa-nav__primary .usa-current::after {
        background-color: color("base-lighter");
      }
  
      .usa-nav__link:hover::after {
        background-color: color("base-lighter");
      }
    }
  }
}

.NavbarBlueVariant {
  background-color: color("primary-darker");
  border-bottom: 1px solid color("white");

  :global {
    .usa-nav__link:hover::after {
      background-color: color("primary");
    }

    .usa-logo__text, .usa-nav__primary button span {
      color: color("white");
    }
    
    .usa-nav__primary button span::after {
      background-color: color("white");
    }

    .usa-button.usa-button--outline {
      box-shadow:  0 0 0 2px color("white");
      color: color("white");

      &:hover {
        box-shadow:  0 0 0 2px color("gray-10");
        color: color("gray-10");
      }
    }
    
    .usa-button:not(.usa-button.usa-button--outline) {
      background-color: color("white");
      color: color("primary-darker");

      &:hover {
        background-color: color("gray-10");
      }
    }

    .usa-nav__primary button[aria-expanded=true] .usa-button, .usa-nav__submenu {
      background-color: color("white");
    }

    .usa-nav__submenu .usa-nav__submenu-item a {
      color: color("primary-darker");
    }

    .usa-nav.is-visible {
      background-color: color("primary-darker");

      .usa-nav__close {
        svg {
          fill: color("white");
        }
      }

      .usa-nav__primary-item, .usa-nav__submenu-item {
        border-top: 1px solid color("primary");
      }

      .usa-nav__primary button {
        &:hover {
          background-color: color("primary-dark");
        }
      }

      .usa-accordion {
        border-bottom: 1px solid color("primary");
      }

      .usa-nav__primary button[aria-expanded=true] {
        background-color: color("primary-darker");
        
        & span {
          color: color("primary-light");
        }

        &:hover {
          background-color: color("primary-dark");
        }
      }

      .usa-nav__submenu {
        background-color: color("primary-darker");
      }

      .usa-nav__submenu .usa-nav__submenu-item a {
        color: color("white");
      }

      .usa-nav__primary a:not(.usa-button) {
        &:hover {
          background-color: color("primary-dark");
        }
      }
    }
  }
}