# Dependabot general documentation:
# https://docs.github.com/en/code-security/dependabot
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:

  # Docker
  - package-ecosystem: "docker"
    directory: "/operations"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "05:00"
      timezone: "US/Eastern"
  - package-ecosystem: "docker"
    directory: "/prime-router"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "05:00"
      timezone: "US/Eastern"
  - package-ecosystem: "docker"
    directory: "/.environment/docker/docker-compose"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "05:00"
      timezone: "US/Eastern"
  - package-ecosystem: "docker"
    directory: "/frontend-react"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "05:00"
      timezone: "US/Eastern"
  - package-ecosystem: "docker"
    directory: "/operations/utils/postgres"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "05:00"
      timezone: "US/Eastern"
  - package-ecosystem: "docker"
    directory: "/operations/dnsmasq"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "05:00"
      timezone: "US/Eastern"

  # slack-boltjs-app (chatops)
  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "monthly"

  # GitHub Actions workflows
  - package-ecosystem: "github-actions"
    # Workflow files stored in `.github/workflows`
    directory: "/"
    open-pull-requests-limit: 100
    schedule:
      interval: "daily"
  # GitHub local actions
  # These entries need to be updated for every new action created
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/Start-AzFunction"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/Start-PostgresDB"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/Stop-AzFunction"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/Stop-PostgresDB"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/notifications"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/build-backend"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/build-frontend"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/build-vars"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/db-backup"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/db-query"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/db-restore"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/demo-env"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/deploy-backend"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/deploy-frontend"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/mount-share"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/runner-ip"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/sonarcloud"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/vpn-azure"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/retry"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/az-cost"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/build-submissions"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/connect-ovpn"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/checksum-validate"
    schedule:
      interval: "daily"

  # Frontend
  - package-ecosystem: "npm"
    directory: "/frontend-react"
    open-pull-requests-limit: 100
    schedule:
      interval: "monthly"
      day: "sunday"
      time: "00:17"
      timezone: "US/Eastern"
    rebase-strategy: "disabled"
    # Remove ignore entries when frontend is manually migrated for these libraries
    ignore:
      - dependency-name: "react"
        update-types:
          - version-update:semver-major
      - dependency-name: "react-dom"
        update-types:
          - version-update:semver-major
      - dependency-name: "@types/react"
        update-types:
          - version-update:semver-major
      - dependency-name: "@types/react-dom"
        update-types:
          - version-update:semver-major
      - dependency-name: "react-router"
        update-types:
          - version-update:semver-major
      - dependency-name: "react-router-dom"
        update-types:
          - version-update:semver-major
      - dependency-name: "undici"
        update-types:
          - version-update:semver-major
    groups:
      project:
        patterns:
          - "husky"
          - "lint-staged"
          - "dotenv-flow"
          - "@types/dotenv-flow"
          - "cross-env"
          - "browserslist*"
          - "@types/node"
          - "npm-run-all"
          - "patch-package"
      typescript:
        patterns:
          - "*typescript*"
          - "tslib"
          - "ts-node"
          - "tsx"
      typescript-types:
        patterns:
          - "@types/*"
        exclude-patterns:
          - "*dotenv-flow"
          - "*node"
          - "*eslint__js"
          - "*mdx"
          - "@types/react"
          - "@types/react-dom"
          - "*react-router*"
          - "*html-to-text"
          - "*lodash"
          - "*dompurify"
          - "*sanitize-html"
          - "*react-scroll-sync"
          - "*downloadjs"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
          - "eslint-plugin-react"
          - "eslint-plugin-react-hooks"
          - "eslint-plugin-react-refresh"
      ui:
        patterns:
          - "@uswds/*"
          - "@trussworks/react-uswds"
          - "react-loader-spinner"
          - "react-toastify"
          - "react-scroll-sync"
          - "@types/react-scroll-sync"
          - "focus-trap-react"
          - "react-error-boundary"
      utils:
       patterns:
         - "*lodash*"
         - "use-deep-compare-effect"
         - "uuid"
         - "p-limit"
         - "history"
         - "date-fns*"
         - "export-to-csv-fix-source-map"
         - "classnames"
      sanitizers:
        patterns:
         - "*sanitize-html"
         - "*html-to-text"
         - "*dompurify"
      bundler:
        patterns:
          - "vite"
          - "vite-plugin-*"
          - "@vitejs/*"
      linting-and-formatting:
        patterns:
          - "@eslint/*"
          - "@types/eslint__js"
          - "eslint"
          - "*prettier*"
      lint-plugins:
        patterns:
          - "eslint-*"
        exclude-patterns:
          - "*-plugin-jest-dom"
          - "*-plugin-playwright"
          - "*-plugin-react"
          - "*-plugin-react-hooks"
          - "*-plugin-react-refresh"
          - "*-plugin-storybook"
          - "*-plugin-testing-library"
          - "*-plugin-vitest"
      mocking:
       patterns:
          - "mockdate"
          - "*msw*"
      unit-testing:
        patterns:
          - "*vitest*"
          - "eslint-plugin-jest-dom"
          - "jsdom"
          - "*testing-library/*"
          - "undici"
          - "globals"
      e2e-testing:
        patterns:
          - "*playwright*"
          - "otpauth"
      storybook:
        patterns:
          - "chromatic"
          - "storybook"
          - "@storybook/*"
          - "eslint-plugin-storybook"
      css:
       patterns:
         - "sass"
         - "postcss"
         - "autoprefixer"
      analytics:
        patterns:
          - "@microsoft/applicationinsights*"
          - "web-vitals"
      markdown:
        patterns:
          - "@mdx-js/*"
          - "@types/mdx"
          - "remark-*"
          - "rehype-*"
          - "react-markdown"
      router:
        patterns:
          - "*react-router*"
      auth:
        patterns:
          - "@okta/*"
      fetching:
        patterns:
          - "*downloadjs"
          - "axios"
          - "*react-query*"

  # IAC
  # hashicorp/azurerm >= 3.0.0 has breaking changes
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/app_service_plan"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/application_insights"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/azure_dashboard"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/chatops"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/common/private_endpoint"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/common/sftp"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/common/vnet_dns_zones"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/container_registry"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/data_factory"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/front_door"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/function_app"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/init"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/init/subnets"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/key_vault"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/log_analytics_workspace"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/metabase"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/nat_gateway"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/network"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/sftp"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/sftp_container"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/ssh"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/modules/storage"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/vars/prod"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/vars/staging"
    schedule:
      interval: "monthly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/terraform/vars/test"
    schedule:
      interval: "weekly"

  # shared
  - package-ecosystem: "gradle"
    directory: "/shared"
    open-pull-requests-limit: 100
    schedule:
      interval: "monthly"
      day: "sunday"
      time: "05:17"
      timezone: "US/Eastern"
    rebase-strategy: "disabled"

  # submissions
  # - package-ecosystem: "gradle"
  #   directory: "/submissions"
  #   open-pull-requests-limit: 100
  #   schedule:
  #     interval: "weekly"
  #     day: "sunday"
  #     time: "04:17"
  #     timezone: "US/Eastern"
  #   rebase-strategy: "disabled"

  # auth
  # - package-ecosystem: "gradle"
  #   directory: "/auth"
  #   open-pull-requests-limit: 100
  #   schedule:
  #     interval: "weekly"
  #     day: "sunday"
  #     time: "04:17"
  #     timezone: "US/Eastern"
  #   rebase-strategy: "disabled"

  # Backend
  - package-ecosystem: "gradle"
    directory: "/prime-router"
    open-pull-requests-limit: 100
    schedule:
      interval: "monthly"
      day: "sunday"
      time: "03:17"
      timezone: "US/Eastern"
    rebase-strategy: "disabled"
    groups:
      hapifhir:
        patterns:
          - "ca.uhn.hapi.fhir:hapi-fhir*"
      azurestorage:
        patterns:
          - "com.azure:azure-storage*"
      azurecore:
        patterns:
          - "com.azure:azure-core*"
      bouncycastle:
        patterns:
          - "org.bouncycastle:bc*"
      log4j:
        patterns:
          - "org.apache.logging.log4j:log4j*"
      hapi:
        patterns:
          - "ca.uhn.hapi:hapi*"
      poi:
        patterns:
          - "org.apache.poi:poi*"
      jjwt:
        patterns:
          - "io.jsonwebtoken:jjwt*"
      flyway:
        patterns:
          - "org.flywaydb*"
      swagger:
        patterns:
          - "io.swagger.core*"
      skrapeit:
        patterns:
          - "it.skrape:skrapeit*"
      jwt-verifier:
        patterns:
          - "com.okta.jwt:okta-jwt-verifier*"
    ignore:
      # ignore updates to sshj so we don't run into future issues connecting to STLTs
      - dependency-name: "sshj"
        update-types: ["version-update:semver-patch"]
