# Dependabot general documentation:
# https://docs.github.com/en/code-security/dependabot
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:

  # Maintain dependencies for GitHub Actions Workflows
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "daily"

  # Maintain dependencies for GitHub Actions custom actions
  # These entries need to be updated for every new action created
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/build-backend"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/build-frontend"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/build-vars"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/db-backup"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/db-query"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/db-restore"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/demo-env"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/deploy-backend"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/deploy-frontend"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/mount-share"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/runner-ip"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/vpn-azure"
    schedule:
      interval: "daily"

  # FRONTEND
  # All packages weekly
  - package-ecosystem: "npm"
    directory: "/frontend-react"
    schedule:
      interval: "weekly"

  # OPERATIONS
  - package-ecosystem: "docker"
    directory: "/operations"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/.devcocntainer"
    schedule:
      interval: "weekly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/src/environments/dev"
    schedule:
      interval: "weekly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/src/environments/test"
    schedule:
      interval: "weekly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/src/environments/staging"
    schedule:
      interval: "weekly"
  - package-ecosystem: "terraform"
    directory: "/operations/app/src/environments/prod"
    schedule:
      interval: "weekly"
  
  
  # ROUTER
  - package-ecosystem: "docker"
    directory: "/prime-router"
    schedule:
      interval: "weekly"
  # All packages weekly
  - package-ecosystem: "gradle"
    directory: "/prime-router"
    schedule:
      interval: "weekly"
    ignore:
      # ignore updates to sshj so we don't run into future issues connecting to STLTs
      - dependency-name: "sshj"
        update-types: ["version-update:semver-patch"]
