.rb-container {

    margin: auto;
    display: block;
    position: relative;
  }
  
  .rb-container ul.rb {
    margin: 0 0;
    padding: 0;
    display: inline-block;
  }
  
  .rb-container ul.rb li {
    list-style: none;
    margin: auto;
    min-height: 50px;
    border-left: 1px dashed #000;
    padding: 0 0 20px 30px;
    position: relative;
  }
  
  .rb-container ul.rb li:last-child {
    border-left: 0;
  }
  
  .rb-container ul.rb li::before {
    position: absolute;
    left: -10px;
    content: " ";
    border: 8px solid rgba(0, 0, 0, 1);
    border-radius: 500%;
    background: #000000;
    height: 20px;
    width: 20px;
  }
  
  
  ul.rb li .timestamp {
    position: relative;
    font-weight: bold;
  }