  .prime-user-account{
    font-size: .88rem;
    vertical-align: u-text("vertical-align");
    line-height: 1.25rem;
  }
  
  .prime-table {
    width: 100%;
  }
  
  .prime-table thead th {
    border-bottom: 2px solid;
  }
  
  .prime-table tbody td,.prime-table tbody th {
    border-color: #dfe1e2;
  }
  
  .prime-identifier {
    background-color: #f0f0f0;
    color: #1b1b1b;
  }
  
  .prime-identifier .prime-identifier__domain {
    color: #565c65;
  }
  
  .prime-identifier .prime-identifier__disclaimer a:link,
  .prime-identifier .prime-identifier__disclaimer a:visited,
  .prime-identifier .prime-identifier__disclaimer a:active {
    color: #1b1b1b;
  }
  
  .prime-identifier .prime-identifier__disclaimer a:hover {
    color: #71767a;
  }
  
  .rs-hero {
    background-color: #f0f0f0;
  }
  
  .rs-hero__flex-center {
    align-items: center;
  }
  
  h3 img[src*="svg"] {
    vertical-align: text-top;
    margin-right: 5px;
    float: left;
  }
  
  #okta-sign-in {
    margin-top: 0;
  }
  
  .rs-documentation ul li {
    margin-bottom: 0.75rem;
  }
  
  .rs-documentation ul li ul li ul {
    margin-top: 0.5rem;
  }
  
  .rs-documentation h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }
  
  .rs-documentation h4 {
    margin-bottom: 0.5rem;
  }
  