@use "../../global-modules.scss" as *;

.DataDashboard {
    header {
        a {
            color: white;
            margin-left: 18px;
        }
    }

    hr {
        border: 1px solid color('primary-dark');
    }

    :global {
        .usa-select {
            min-width: 224px;
            width: max-content;
            border-color: lightgray;
        }

        .filter-container {
            margin-bottom: 0;
        }

        .usa-label {
            font-weight: bold;
        }

        .usa-input {
            border-color: lightgray;
        }

        .usa-date-picker__wrapper {
            padding-right: 25px;
        }

        .usa-date-range-picker {
            margin-right: 0px;
        }

        .usa-date-picker__button {
            margin-left: -50px;
            margin-top: 10px;
            height: 35px;
            background-color: transparent;
        }

        .usa-date-picker__button:not([disabled]):hover {
            background-color: white;
        }

        .usa-date-picker__calendar {
            min-width: 275px;
        }
    }
}