@use "../../global-modules.scss" as *;

/*
 * Allows for Card Groups and Cards
 * with differing style expectations
 */
.usa-card--alternate {
    :global {
        .usa-card__header {
            @include u-padding-left(0);
        }

        .usa-card__heading {
            @include u-padding-left(0);
        }

        .usa-card__body {
            @include u-padding-left(0);
            font-size: size("sans", "md");
        }

        .usa-card__body:last-child {
            @include u-padding-bottom(8);
        }

        .usa-card__footer {
            @include u-padding-left(0);
        }

        .usa-card__container {
            border-style: none;
        }

        .usa-card__img {
            border-radius: 0;
        }
    }
}