// Import USWDS 2.9.0

@import '../../uswds/scss/theme/styles';

// Custom styles

.dh-table {
  width: 100%;

  thead {

    th {
    border-bottom: 2px solid;
    }
  }

  tbody {

    td, th {
      border-color: color('base-lighter');
    }
  }
}
