.ReportDetailsSummary {
    button, button:hover {
        float: none;
        background-color: #1A4480;
        color: white;
        height: 33px;
        font-size: 14px;
        padding: 7px;
    }

    hr {
        border: 1px solid #DFE1E2;
    }
}