.ReportDetailsSummary {
    button, button:hover {
        float: none;
        background-color: color('primary-dark');
        color: white;
        height: 33px;
        font-size: 14px;
        padding: 7px;
    }

    hr {
        border: 1px solid color('base-lighter');
    }
}