@use "../../global-modules.scss" as *;

.Footer {
  background-color: color('primary-darker');

  & :global {
    .usa-identifier {
      background-color: color('primary-darker');
      height: 340px;
      padding: 0;

      &__required-links-item {
        margin-bottom: 1rem;
      }
    }
  }
}
