
.filter-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1em;
}

.button-container {
    display: flex;
    align-items: center;
}

.apply-button {
    background: none;
    border: none;
}

.date-picker-container {
    display: flex;
    /* Row-Reverse allows us to put the most recent date
     first and historic date last like we've had it prior */
    margin-right: 32px;
}