
.filter-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1em;
}

.button-container {
    display: flex;
    align-items: center;
}

.apply-button {
    background: none;
    border: none;
}

.date-picker-container {
    display: flex;
    margin-right: 32px;
}
