@use "../../../global-modules.scss" as *;

.FacilitiesProviders {
    hr {
        border: 1px solid color('blue-30');
    }

    :global {
        .usa-breadcrumb {
            background-color: color('blue-10');
            margin-top: 0;
            margin-left: 56px;
            padding-left: 16px;
        }

        .usa-breadcrumb__link {
            color: color('blue-60v');
        }

        .usa-header {
            background-color: color('blue-10');
        }

        .grid-container {
            max-width: 100%
        }

        .usa-select {
            min-width: 224px;
            width: max-content;
            border-color: lightgray;
        }

        .filter-container {
            margin-bottom: 0;
        }

        .usa-label {
            font-weight: bold;
        }

        .usa-input {
            border-color: lightgray;
        }

        .usa-date-picker__wrapper {
            padding-right: 25px;
        }

        .usa-date-range-picker {
            margin-right: 0px;
        }

        .usa-date-picker__button {
            margin-left: -45px;
            margin-top: 10px;
            height: 35px;
            background-color: transparent;
        }

        .usa-date-picker__button:not([disabled]):hover {
            background-color: white;
        }

        .usa-date-picker__calendar {
            min-width: 275px;
        }

        .usa-table--striped tbody tr:nth-child(odd) td {
            background-color: color('gray-cool-4');
        }
    }
}