<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t][%T] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Setting to debug enables logging queries -->
        <Logger name="org.jooq" level="info" additivity="false"/>

        <!-- This disables logging the jooq logo -->
        <Logger name="org.jooq.Constants" level="warn" additivity="false"/>

        <!-- Disable some unneeded info logs -->
        <Logger name="ca.uhn.hl7v2" level="warn"/>

        <!-- ReportStream logs -->
        <Logger name="gov.cdc.prime.router" level="info"/>
        <Logger name="gov.cdc.prime.router.transport.RedoxTransport"/>
        <Logger name="gov.cdc.prime.router.credentials" level="info"/>

        <!-- Example to turn on debugging in your favorite package
        <Logger name="gov.cdc.prime.router.azure.DatabaseAccess" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        -->
        <!-- <Logger name="com.helger.as2lib" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        -->

        <Root level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>