# App-Level Token w/connections:write
SLACK_APP_TOKEN=
# Bot User OAuth Token under the OAuth & Permissions sidebar
SLACK_BOT_TOKEN=
# https://github.com/settings/tokens
GITHUB_TOKEN=
# Only pushes to this repo if specified
GITHUB_REPO=
# Only pushes are permitted to these branches
GITHUB_TARGET_BRANCHES=