---
layout: prime_page.liquid
cdn_scripts:
  - src: "https://cdn.jsdelivr.net/npm/uhtml@2.4.0/min.js"
    integrity: "sha256-pFTx1NUIxgU2M6OB3sCTkpuwmqwRspaWJAW7mrEqswo="

local_styles:
  - "./css/prime.css"
---

{% include header_gov_website %}
{% include app_topbar %}

<main>
  <div class="grid-container margin-top-4">
    <div class="grid-row">
      <nav aria-label="Secondary navigation">
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item"><a href='./login.html'>Login</a></li>
          <li class="usa-sidenav__item"><a href='./settings.html'>Settings</a></li>
          <li class="usa-sidenav__item"><a href='./csv-download.html'>CSV Download</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <br /> <br /> <hr />
  <div class="grid-container maxh-card overflow-y-scroll">
    <pre><output id='out'></output></pre>
  </div>

  <script type=module>
    import prime_rest_api from '/js/prime_api.mjs'
    window.prime_rest_api = prime_rest_api

    prime_rest_api
      .json_get('me')
      .then(info => {
        document.querySelector('output#out')
          .textContent = JSON.stringify(info, null, 2)
      })
  </script>
</main>

{% include footer_cdc_website %}
