---
layout: prime_page.liquid
title: "Login"
cdn_styles:
  - href: "https://global.oktacdn.com/okta-signin-widget/5.2.1/css/okta-sign-in.min.css"
    integrity: "sha384-NHrrVHQI7Uja/X0/0SMVLSk+nFzWI8AwBi1LqSOu7PogLHanNl0fOq1tTdvgb9C7"

cdn_scripts:
  - src: "https://global.oktacdn.com/okta-signin-widget/5.2.1/js/okta-sign-in.min.js"
    integrity: "sha384-pVjuWLMDJj0Bp6nDaWi8nJtFz+GfVP3hxebF4f6z81KDsRK/+DfCoLK/6ZjHWaoh"

local_styles:
  - "./css/prime.css"
---

{% include header_gov_website %}

<main>
  <div id="okta-login-container"></div>
</main>

<script>{
  let config = {
    logo: '//logo.clearbit.com/cdc.gov',
    language: 'en',
    features: {
      registration: false, // Enable self-service registration flow
      rememberMe: false, // Setting to false will remove the checkbox to save username
      router: true, // Leave this set to true for the API demo
    },
    el: "#okta-login-container",
    baseUrl: "https://{{ env.OKTA_baseUrl }}",
    clientId: "{{ env.OKTA_clientId }}",
    redirectUri: "{{ env.OKTA_redirect }}",
    authParams: {
      issuer: "https://{{ env.OKTA_baseUrl }}/oauth2/default"
    }
  };
  
  let signInWidget = new OktaSignIn(config);
  signInWidget
    .showSignInToGetTokens( { scopes: ['openid', 'email', 'profile', 'simple_report'] } )
    .then( tokens => {
      let jwt = tokens.accessToken.value
      window.sessionStorage.setItem('jwt', jwt)

      // set JSON Web Token (JWT) cookie with 5 minute expiration
      let ts_expires = new Date(Date.now() + 5*60*1000)

      document.cookie = `jwt=${jwt};expires=${ts_expires.toUTCString()};path=/`; 

      // Save raw JWT for direct API calls 
      window.localStorage.setItem('jwt', jwt)
      window.localStorage.setItem('jwt_expires', ts_expires.toISOString())

      // base64 decode JWT body part using Fetch, DataURL, and JSON
      return window.fetch(`data:application/json;base64,${jwt.split('.')[1]}`)
    })
    .then( jwt_body_req => jwt_body_req.json() )
    .then( jwt_body => {
      // Save decoded JWT body for local display
      window.localStorage.setItem('jwt_body', JSON.stringify(jwt_body))

      // navigate back to 
      window.location.replace({{"/" | url | as_literal }})
    })
}</script>

{% include footer_cdc_website %}
