---
layout: prime_page.liquid
title: "Settings"
local_styles:
  - "./css/prime.css"
---

{% include header_gov_website %}
{% include app_topbar %}

<main>
  <h1>HELLO Settings</h1>

  <pre><output><script>{
    let jwt_body = JSON.parse(localStorage.getItem('jwt_body') || null)
    let el_output = document.currentScript.parentElement

    if (jwt_body) {
      el_output.textContent = [
          `- jwt_body.sub: ${jwt_body.sub}`,
          `- jwt_body.given_name: ${jwt_body.given_name}`,
          `- jwt_body.family_name: ${jwt_body.family_name}`,
        ].join('\n')
    } else {
      el_output.textContent = 'not logged in'
    }
  }</script></output></pre>
</main>

{% include footer_cdc_website %}
