@use 'uswds-core' as *;

.reportstreamTable {
  :global {
    // Since these are USDS overrides, we use the :global property so we can
    // locally scope everything within the CSS Module underneath .reportstreamTable
    // without having to create new SCSS classes, and simply made overrides.
    .column-header {
        user-select: none;
        background-color: color('gray-5');

        &--clickable {
          cursor: pointer;
        }

        &--sortable {
          display: flex;
          align-items: center;

          .column-header-text {
            margin-right: 2px;
          }
        }

        &--active {
          background-color: color('blue-30');
        }
    }

    .column-data {
        font-size: 14px;
        padding: 1rem;
        vertical-align: top;

      &--active{
          background-color: color('blue-10');
      }
    }

    .column-header-text {
      font-size: 14px;
      margin: 0;
    }
    
  }
}