#div {
    z-index: 2;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 50%;
    opacity: 0.3;
    background: black;
    height: 100%;
    width: 100%;
}

#spinner {
    position: fixed;
    left: 30%;
    height: 100%;
    width: 100%;
}
