#div {
    /* z-index: 2;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 50%;
    opacity: 0.3;
    background: black;
    height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#spinner {
    /* position: fixed;
    left: 50%; */
    height: 100%;
    width: 100%;
}
