
// load default variables .. not required?
//@import '~uswds/dist/scss/theme/uswds-theme-general';
//@import '~uswds/dist/scss/theme/uswds-theme-typography';
//@import '~uswds/dist/scss/theme/uswds-theme-spacing';
//@import '~uswds/dist/scss/theme/uswds-theme-color';
//@import '~uswds/dist/scss/theme/uswds-theme-utilities';

// override (change some of the defaults loaded above)
@import "styles/uswds_settings";  // _uswds_settings.scss

@import "uswds";

@import "@trussworks/react-uswds/lib/index.css";

@import "styles/uswds_overrides"; // _uswds_overrides.scss
@import "styles/color"; // _color.scss
@import "styles/typography"; // _typography.scss
@import "styles/reportstream";  // _reportstream.scss

// Print styles (e.g. may be used by PDF generation)
@import "./styles/print";
