@use 'uswds-core' as *;

$theme-hr-border-color: "base-lighter";

hr {
    border: 1px solid color($theme-hr-border-color)
}

.usa-icon-button {
    border-radius: 100%;
    padding: 0.25rem 0.25rem;
}

// MessageReceivers.tsx
.message-receivers-table {
    .usa-table thead th {
        cursor: pointer;
        user-select: none;
        background-color: color('gray-5');
    }

    .usa-table thead th.active-col-header {
        background-color: color('blue-30');
    }

    .usa-table td.active-col-td {
        background-color: color('blue-10');
    }

    .usa-table thead .column-header-title-container {
        display: flex;
        align-items: center;
    }

    .usa-table thead .column-header-title-container p {
        font-size: 14px;
        margin: 0;
    }

    .usa-table thead .column-header-title-container svg {
        flex: none;
        margin-left: 2px;
        height: 28px;
        width: 28px;
    }

    .usa-table td.message-receiver-break-word {
        cursor: pointer;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .usa-table td {
        font-size: 14px;
        padding: 1rem;
        vertical-align: top;
    }
}
// End -- MessageReceivers.tsx

// Message Tracker specific styles for Accordion component
.message-tracker {
    .usa-accordion__button {
        color: white;
        background-color: color('primary');
        @include add-background-svg("usa-icons-bg/remove--white");

        &[aria-expanded=false] {
            @include add-background-svg("usa-icons-bg/add--white");
        }
    }
    .usa-accordion__button:hover,  .usa-accordion__button:focus{
        color: white;
        background-color: color('primary');
    }
    .usa-accordion--bordered .usa-accordion__content {
        border-color: color('primary');
        border-width: medium;
    }
}

.manage-public-key {
    .usa-icon {
        font-size: 20px;
    }
}