@media screen {
  .easi-only-print {
    display: none;
  }
}

@media print {
  html {
    font-size: 12px;
  }

  @page {
    @bottom-left {
      content: "Page " counter(page) " of " counter(pages);
    }
  }
}
