// Was index.css

.prime-user-account {
  font-size: .88rem;
  vertical-align: u-text("vertical-align");
  line-height: 1.25rem;
}

.prime-table {
  width: 100%;
}

.prime-table thead th {
  border-bottom: 2px solid;
}

.prime-table tbody td, .prime-table tbody th {
  border-color: #dfe1e2;
}

.prime-identifier {
  background-color: #f0f0f0;
  color: #1b1b1b;
}

.prime-identifier .prime-identifier__domain {
  color: #565c65;
}

.prime-identifier .prime-identifier__disclaimer a:link,
.prime-identifier .prime-identifier__disclaimer a:visited,
.prime-identifier .prime-identifier__disclaimer a:active {
  color: #1b1b1b;
}

.prime-identifier .prime-identifier__disclaimer a:hover {
  color: #71767a;
}

.rs-hero {
  background-color: #f0f0f0;
}

.rs-hero__flex-center {
  align-items: center;
}

h3 img[src*="svg"] {
  vertical-align: text-top;
  margin-right: 5px;
  float: left;
}

#okta-sign-in {
  margin-top: 0;
}

.rs-documentation ul li {
  margin-bottom: 0.75rem;
}

.rs-documentation ul li ul li ul {
  margin-top: 0.5rem;
}

.rs-documentation h3 {
  margin-bottom: 0;
  margin-top: 2rem;
}

.rs-documentation h4 {
  margin-bottom: 0.5rem;
}

/// actions
.rb-container {
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 0 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  min-height: 50px;
  border-left: 1px dashed #000;
  padding: 0 0 20px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -10px;
  content: " ";
  border: 8px solid rgba(0, 0, 0, 1);
  border-radius: 500%;
  background: #000000;
  height: 20px;
  width: 20px;
}


ul.rb li .timestamp {
  position: relative;
  font-weight: bold;
}

/// USDS overrides

.prime-user-account {
  font-size: .88rem;
  vertical-align: middle;
  line-height: 1.25rem;
}

.prime-table {
  width: 100%;
}

.prime-table thead th {
  border-bottom: 2px solid;
}

.prime-table tbody td, .prime-table tbody th {
  border-color: #dfe1e2;
}

.prime-identifier {
  background-color: #f0f0f0;
  color: #1b1b1b;
}

.prime-identifier .prime-identifier__domain {
  color: #565c65;
}

.prime-identifier .prime-identifier__disclaimer a:link,
.prime-identifier .prime-identifier__disclaimer a:visited,
.prime-identifier .prime-identifier__disclaimer a:active {
  color: #1b1b1b;
}

.prime-identifier .prime-identifier__disclaimer a:hover {
  color: #71767a;
}

.rs-hero {
  background-color: #f0f0f0;
}

.rs-hero__flex-center {
  align-items: center;
}

h3 img[src*="svg"] {
  vertical-align: text-top;
  margin-right: 5px;
  float: left;
}

#okta-sign-in {
  margin-top: 0;
}

.rs-documentation ul li {
  margin-bottom: 0.75rem;
}

.rs-documentation ul li ul li ul {
  margin-top: 0.5rem;
}

.rs-documentation h3 {
  margin-bottom: 0;
  margin-top: 2rem;
}

.rs-documentation h4 {
  margin-bottom: 0.5rem;
}

.rs-documentation__values {

  code {
    display: inline-block;
    padding-left: units(1);
    padding-right: units(1);
    border-radius: 2px;
    @include u-bg('gray-5');
    @include u-text('gray-90');
  }

  .value-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 units(1) 0;
    }
  }
}

.rs-blockquote__documentation {
  @include u-bg('base-lightest');
  @include u-padding-x(3);
  @include u-padding-y(1);
  @include u-margin(0);
}

.rs-process-list__documentation {

  img {
    display: block;
    max-width: 15rem;
    @include u-border(1px, 'base-lighter');
    margin-top: units(4);

  }
}

.rs-oktapreview-watermark {
    transform: rotate(343deg);
    position: absolute;
    opacity: .6;
    top: 1em;
    color: crimson;
    overflow: hidden;
    font-weight: 900;
}

.rs-livestate-two-column {
    list-style: unset;
    overflow: hidden;
    column-count: 2;
    column-gap: 1.25em;
}

.rs-livestate-two-column>* {
    list-style: unset;
    display: inline-block;
    width: 80%;
    padding-bottom: 0.5em;
}

/* tweak toaster notifications - other variables can be found by search node_modules for `--toastify-toast-width`  */
:root {
    --toastify-toast-width: 600px;
}
