// AutoUpdateFileChromatic
// Type styles for markdown-driven pages & any overrides for USWDS typography

// Headings
// FUTURE_TODO: Decipher the ancient texts on how to apply these directly to USWDS token definitions.
h4 {
    font-size: 18px;
    line-height: 160%;
}

.font-body-sm {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 14px;
}

// Documentation pages

.rs-documentation ul li {
    margin-bottom: 0.75rem;
}

.rs-documentation ul li ul li ul {
    margin-top: 0.5rem;
}

.rs-documentation h3 {
    margin-bottom: 0;
    margin-top: 2rem;
}

.rs-documentation h4 {
    margin-bottom: 0.5rem;
}
