// USWDS Settings that are different from the defaults.
// see: https://designsystem.digital.gov/documentation/settings/

/*
  These are necessary for the image and font urls referenced in the source
  files to resolve correctly.
*/
$theme-image-path: "~uswds/dist/img";
$theme-font-path: "~uswds/dist/fonts";
$theme-hero-image: "~uswds/dist/img/hero.png";

$theme-show-compile-warnings: false;
$theme-show-notifications: false;
$theme-font-role-heading: "sans";

// Override defaultUSWDS maximum width settings
$theme-header-max-width: "desktop-lg";
// $theme-header-min-width: 'desktop-lg';

$theme-grid-container-max-width: "desktop-lg";
$theme-site-margins-breakpoint: "desktop-lg";
$theme-site-alert-max-width: "desktop-lg";
// $theme-identifier-max-width: 'desktop-lg';

$theme-footer-max-width: "desktop-lg";

$theme-site-margins-width: 4;
$theme-site-margins-mobile-width: 2;

//Override default USWDS body font
$theme-font-type-sans: "public-sans";

// serif
$theme-font-type-serif: "public-sans";

$theme-font-role-heading: "sans";
$theme-font-role-alt: "sans";

$mobile: 480px;
$tablet: 1024px;
$desktop: 1200px;

// COLORS - USDS redefine
// these are color names we can reference else where and/or redefine usds colors
$black: #010101;
$medium-gray: #d9d9d9;
