// USWDS Settings that are different from the defaults.
// see: https://designsystem.digital.gov/documentation/settings/

$rs-width: "widescreen";

@use "uswds-core" with (
    /*
    * These are necessary for the image and font urls referenced in the source
    * files to resolve correctly.
    * these paths are from where the output css lives, in this case
    * /frontend-react/src/content/generated/global.out.css
    */
        $theme-image-path: "@uswds/uswds/img",
    $theme-font-path: "@uswds/uswds/fonts",

    $theme-show-compile-warnings: false,
    $theme-show-notifications: false,

    // Override defaultUSWDS maximum width settings
    $theme-header-max-width: $rs-width,
    // $theme-header-min-width: 'desktop-lg',
    $theme-grid-container-max-width: $rs-width,
    $theme-site-margins-breakpoint: $rs-width,
    $theme-site-alert-max-width: $rs-width,
    // $theme-identifier-max-width: 'desktop-lg',
    $theme-footer-max-width: $rs-width,

    $theme-site-margins-width: 4,
    $theme-site-margins-mobile-width: 2,

    //Typography
    $theme-font-type-cond: false,
    $theme-font-type-icon: false,
    $theme-font-type-lang: false,
    $theme-font-type-mono: "roboto-mono",
    $theme-font-type-sans: "public-sans",
    $theme-font-type-serif: false,

    $theme-font-role-ui: "sans",
    $theme-font-role-heading: "sans",
    $theme-font-role-body: "sans",
    $theme-font-role-code: "mono",
    $theme-font-role-alt: "mono",

    $theme-process-list-heading-font-family: "sans",
    $theme-process-list-heading-font-size: "md",

    // This flag enables all possible USWDS color tokens
    $global-color-palettes: "palette-color"
);
