// COLORS - USDS redefine
// these are color names we can reference else where and/or redefine usds colors
$black: #010101;
$medium-gray: #d9d9d9;

// Breakpoints
$mobile: 480px;
$tablet: 1024px;
$desktop: 1200px;
