@use "src/global-modules" as *;

.Link {
    @at-root h1 &,
        h2 &,
        h3 &,
        h4 &,
        h5 &,
        h6 & {
        text-decoration: none;

        &:visited {
            all: unset;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
