@use "../../../global-modules.scss" as *;

.legend {
    list-style: none;

    li {
        float: left;
        margin-right: 8px;
    }

    span {
        border: none;
        float: left;
        width: 12px;
        height: 12px;
        margin: 2px;
    }
}