<link rel="stylesheet" href="./assets/stylesheets/actions.css" />

<section class="grid-container">
    <h2>Activity</h2>
    <div>
        <div class="rb-container">
            <ul class="rb">
                <script>
                report.actions.forEach( action => {
                    document.write( `
                    <li class="rb-item">
                        <div class="timestamp">${moment(action.date).format( 'MMM DD, YYYY hh:mm A' )}</div>
                        <div class="timestamp">${action.user}</div>
                        <div class="item-title">${action.action}</div>
                    </li>`
                ) } )
                </script>
            </ul>
        </div>
    </div>
</section>