<link rel="stylesheet" href="./assets/stylesheets/actions.css" />

<section class="grid-container">
    <h2>Activity</h2>
    <div>
        <div class="rb-container">
            <ul id="actions-list" class="rb">
            </ul>
        </div>
    </div>
</section>