<script src="../js/reports.js"></script>
<script src="../js/fetchOrg.js"></script>
<script src="../js/requestFile.js"></script>
<script src="../js/fetchReport.js"></script>

<section class="grid-container">
  <h3 class="margin-bottom-0">
    <a href="/daily-data/">COVID-19</a> > <span class="text-gray-30" id="orgName"></span>
  </h3>


<section class="grid-container">
  <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="/daily-data/" class="usa-breadcrumb__link">
          COVID-19
        </a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span id="org_name"> </span>
      </li>
    </ol>
  </nav>

  <h2 class="margin-top-0 margin-bottom-10">
    <p id="download" class="margin-top-0 margin-bottom-0">Report: <span id="report.id">This is the report ID</span></p>
  </h2>
</section>

<section class="grid-container margin-top-0 margin-bottom-5">
  <hr />
  <div id="details" class="grid-row grid-gap margin-top-0">
  </div>
  <hr />
</section>