<section class="grid-container">
  <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="/daily-data/" class="usa-breadcrumb__link" id="orgName"></a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>Report details</span>
      </li>
    </ol>
  </nav>
  <h2 class="margin-top-0 margin-bottom-4">
    <p id="download" class="margin-top-0 margin-bottom-0">Report: <span id="report-id"></span></p>
  </h2>
</section>

<section class="grid-container margin-top-0 margin-bottom-5">
  <hr />
  <div id="details" class="grid-row grid-gap margin-top-0">
  </div>
  <hr class="margin-top-3" />
</section>
