<script src="js/reports.js"></script>
<script defer>
  async function fetchOrgName() {
    let config = {headers: { 'Authorization': `Bearer ${window.jwt}` } }
    let baseURL = window.location.origin.includes( "localhost") ? "http://localhost:7071" :
                  window.location.origin.includes( "staging" ) ? "https://staging.prime.cdc.gov" :
                  "https://prime.cdc.gov"
    const response = await Promise.all( [
        axios.get(`${baseURL}/api/settings/organizations/${window.org.substring(2).replaceAll("_","-")}`, config)
            .then( res => res.data )
            .then( org => org.description )
    ] );

    return response;
  };

  (async () => {
    const orgName = await fetchOrgName();
     document.getElementById( "org_name").innerHTML = orgName
    })()
</script>

<script defer>
  function requestFile2( reportId ){
    let baseURL = window.location.origin.includes( "localhost") ? "http://localhost:7071" :
                  window.location.origin.includes( "staging" ) ? "https://staging.prime.cdc.gov" :
                  "https://prime.cdc.gov"

    let config = { headers: { 'Authorization': `Bearer ${window.jwt}` } }

    return axios.get(`${baseURL}/api/history/report/${reportId}`, config)
            .then( res => res.data )
            .then( csv => download( csv.content, csv.filename, csv.mimetype) )

  }

  (async () => {
    const reports = await fetchReports();
    console.log( window.location.search )
    var report = window.location.search == ""? reports[0] : reports.find( report => report.reportId == window.location.search.substring(1) );
     document.getElementById( "details").innerHTML +=
              `<div class="tablet:grid-col-6">
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> dbb9fd16be49870951cc7bb3d6e4d72355a41bcb
                    <h4 class="text-gray-30 margin-bottom-0">Report type</h4>
                    <p class="text-bold margin-top-0">${report.type}</p>
                    <h4 class="text-gray-30 margin-bottom-0">Report date</h4>
                    <p class="text-bold margin-top-0">${moment.utc(report.sent).local().format( 'dddd, MMM DD, YYYY' )}</p>
                    <h4 class="text-gray-30 margin-bottom-0">Report time</h4>
                    <p class="text-bold margin-top-0">${moment.utc(report.sent).local().format( 'HH:mm' )}</p>
            </div>
            <div class="tablet:grid-col-6">
                    <h4 class="text-gray-30 margin-bottom-0">Total reporting</h4>
                    <p class="text-bold margin-top-0">${report.total}</p>
                    <h4 class="text-gray-30 margin-bottom-0">Expires</h4>
                    <p class="text-bold margin-top-0">${moment.utc(report.expires).local().format( 'dddd, MMM DD, YYYY  HH:mm')}</p>
            </div>`
<<<<<<< HEAD
=======
                  <h4 class="text-gray-30 margin-bottom-0">Report type</h4>
                  <p class="text-bold margin-top-0">${report.type}</p>
                  <h4 class="text-gray-30 margin-bottom-0">Report date</h4>
                  <p class="text-bold margin-top-0">${moment(report.sent).format( 'dddd, MMM DD, YYYY' )}</p>
                  <h4 class="text-gray-30 margin-bottom-0">Report time</h4>
                  <p class="text-bold margin-top-0">${moment(report.sent).format( 'HH:mm' )} UTC</p>
                </div>
                <div class="tablet:grid-col-6">
                  <h4 class="text-gray-30 margin-bottom-0">Total reporting</h4>
                  <p class="text-bold margin-top-0">${report.total}</p>
                  <h4 class="text-gray-30 margin-bottom-0">Expires</h4>
                  <p class="text-bold margin-top-0">${report.expires} ${report.expires>1? "days": "day"}</p>
                </div>`
>>>>>>> origin/master
=======

>>>>>>> dbb9fd16be49870951cc7bb3d6e4d72355a41bcb
      document.getElementById( "report.id").innerHTML = report.reportId;
      document.getElementById( "download").innerHTML +=
        `<a id="report.fileType" class="usa-button usa-button--outline float-right" href="#" onclick="requestFile2( \'${report.reportId}\');event.preventDefault();"></a>`
      document.getElementById( "report.fileType").innerHTML = (report.fileType == "HL7" || report.fileType == "HL7_BATCH")? "HL7" : "CSV"
      const noFac = document.getElementById("nofacilities")
      const facTable = document.getElementById("facilitiestable")
      if( report.facilities.length > 0 ){
        noFac.style.display = "none"
      }
      else{
        facTable.style.display = "none";
      }

      report.facilities.forEach( facility => {
        document.getElementById( "tBodyFac").innerHTML +=
          `<tr>
            <th data-title="facility" scope="row">${facility.facility}</th>
            <th data-title="clia" scope="row">${facility.CLIA}</th>
            <th data-title="facilityTotal" scope="row">${facility.total}</th>
          </tr>`;
      })
      report.actions.forEach( action => {
        document.getElementById( "actions-list").innerHTML +=
          `<li class="rb-item">
                        <div class="timestamp">${moment(action.date).format( 'MMM DD, YYYY HH:mm' )}</div>
                        <div class="timestamp">${action.user}</div>
                        <div class="item-title">${action.action}</div>
                    </li>`
      })

    })()
</script>

<section class="grid-container">
  <h3 class="margin-bottom-0">
    <a href="data-index.html">COVID-19</a> > <span class="text-gray-30" id="org_name"> Test</span>
  </h3>
<<<<<<< HEAD
<<<<<<< HEAD
  <h2 class="margin-top-0 margin-bottom-10">
    <p id="download" class="margin-top-0 margin-bottom-0">Report: <span id="report.id">This is the report ID</span></p>    
  </h2>
=======
  <h2 class="margin-top-0 margin-bottom-0">
    <p id="download" class="margin-top-0 margin-bottom-0">Report: <span id="report.id">This is the report ID</span></p>
</h2>
<p>
  <span class="usa-tag bg-green">Delivered <span id="report.fileType2"></span></span>
</p>
>>>>>>> origin/master
=======
  <h2 class="margin-top-0 margin-bottom-10">
    <p id="download" class="margin-top-0 margin-bottom-0">Report: <span id="report.id">This is the report ID</span></p>    
  </h2>

>>>>>>> dbb9fd16be49870951cc7bb3d6e4d72355a41bcb
</section>

<section class="grid-container margin-top-0 margin-bottom-5">
  <hr />
  <div id="details" class="grid-row grid-gap margin-top-0">
  </div>
  <hr />
</section>
