<script src="js/reports.js"></script>


<section class="grid-container">
  <h3 class="margin-bottom-0">
    <a href="data-index.html">COVID-19</a> > <span class="text-gray-30" id="org_name"></span>
  </h3>
  <h1 class="margin-top-0 margin-bottom-0">
    <p class="margin-top-0 margin-bottom-0">Report #<span id="report.id">123456789</span>
      <a id="report.fileType" class="usa-button usa-button--outline float-right" href=""></a>
    </p>    
</h1>
<p>
  <span class="usa-tag">Delivered <span id="report.fileType2"></span></span>
</p>
</section>

<section class="grid-container margin-top-0 margin-bottom-5">
    <hr />
    <div class="grid-row grid-gap margin-top-0">
        <script>
            document.write (`
            <div class="tablet:grid-col-6">
                    <h4 class="text-gray-30 margin-bottom-0">Report type</h4>
                    <p class="text-bold margin-top-0">${report.type}</p>
                    <h4 class="text-gray-30 margin-bottom-0">Report date</h4>
                    <p class="text-bold margin-top-0">${moment(report.sent).format( 'dddd, MMM DD, YYYY' )}</p>
                    <h4 class="text-gray-30 margin-bottom-0">Report time</h4>
                    <p class="text-bold margin-top-0">${moment(report.sent).format( 'hh:mm A' )}</p>
            </div>
            <div class="tablet:grid-col-6">
                    <h4 class="text-gray-30 margin-bottom-0">Total reporting</h4>
                    <p class="text-bold margin-top-0">${report.total}</p>
                    <h4 class="text-gray-30 margin-bottom-0">Expires</h4>
                    <p class="text-bold margin-top-0">${report.expires} days</p>
            </div>
            `)
        </script>
    </div>
    <hr />
    

    <script>
      document.getElementById( "report.id").innerHTML = report.reportId;
      document.getElementById( "report.fileType").innerHTML = report.fileType == "HL7"? "HL7" : "CSV"
      document.getElementById( "report.fileType2").innerHTML = "SFTP"
      console.log( window.orgName );
      document.getElementById( "org_name" ).innerHTML = window.orgName;
    </script>
  </section>

  