
<script src="js/cards.js"></script>

<section class="grid-container margin-top-0">
  <div id="cards" class="grid-row grid-gap margin-top-0">
  </div>
</section>


<script defer>
  (async () => {
    const cards = await fetchCards();
      cards.forEach( card => {
        document.getElementById( "cards").innerHTML +=
          `<div class="tablet:grid-col-6">
            <div class="usa-card__container">
              <div class="usa-card__body">
                <h4 class="text-gray-30 margin-bottom-0">${card.title}</h4>
                <p class="text-bold margin-top-0">${card.subtitle}</p>
                <h4 class="text-gray-30 margin-bottom-0">Daily</h4>
                <p class="text-bold margin-top-0">${card.daily}</p>
                <h4 class="text-gray-30 margin-bottom-0">Last 7 days</h4>
                <p class="text-bold margin-top-0">
                  ${card.last}
                  <span class="float-right ${card.positive? "text-green" : "text-red"}">
                    ${card.positive? "&#8593;" : "&#8595;"} ${card.change} (${card.pct_change}%)
                  </span>
                </p>
                <canvas id="${card.id}" width="200" height="40"></canvas>
              </div>  
            </div>
          </div>`
     } );
  })();
</script>

<script src="js/chart-data.js" defer></script>