<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Cache-Control" content="no-store" />
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

<meta name="robots" content="none" />

<title>
  {% if title and how_it_works %}
  {{ title }} | How it works | CDC PRIME ReportStream
  {% elsif title == "index" %}
  CDC PRIME ReportStream
  {% elsif title %}
  {{ title }} | CDC PRIME ReportStream
  {% else %}
  CDC PRIME ReportStream
  {% endif %}
</title>
