<footer class="usa-identifier" aria-label="Agency identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="{{ site.orgs.CDC.url }}" class="usa-identifier__logo">
          <img class="usa-identifier__logo-img" src="{{ site.imgPath }}cdc-logo.svg" alt="CDC logo" role="img">
        </a></div>
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">cdc.gov</p>
        <p class="usa-identifier__identity-disclaimer">An official website of the <a
            href="{{ site.orgs.CDC.url }}">{{ site.orgs.CDC.name }}</a></p>
      </div>
    </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Footer navigation">
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="https://www.cdc.gov/about/default.htm" class="usa-identifier__required-link">About CDC</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.cdc.gov/contact/accessibility.html" class="usa-identifier__required-link">Accessibility
            support</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.cdc.gov/od/foia"
            class="usa-identifier__required-link usa-link">FOIA requests</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.cdc.gov/eeo/nofearact/index.htm" class="usa-identifier__required-link usa-link">No FEAR
            Act data</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://oig.hhs.gov/" class="usa-identifier__required-link usa-link">Office of the Inspector
            General</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.cdc.gov/other/privacy.html" class="usa-identifier__required-link usa-link">Privacy
            policy</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html" class="usa-identifier__required-link usa-link">Vulnerability disclosure policy</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="/terms-of-service/" class="usa-identifier__required-link usa-link">Terms of service</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services">
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?</div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</footer>
<script>
  {% unless protected == false %}
    checkJWT();
  {% endunless %}
</script>
