<div class="grid-container margin-bottom-5">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-3">
      <nav aria-label="Secondary navigation">
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item">
          {% if current == "profile" %}
          <a href="./profile.html" class="usa-current">
          {% else %}
          <a href="./profile.html">
          {% endif %}
          Profile</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "organization" %}
            <a href="./organization.html" class="usa-current">
          {% else %}
            <a href="./organization.html">
          {%endif%}
            Organization</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "delivery" %}
            <a href="./delivery.html" class="usa-current">
          {%else%}
            <a href="./delivery.html">
          {%endif%}
          Delivery</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "schema" %}
            <a href="./schema.html" class="usa-current">
          {%else%}
            <a href="./schema.html">
          {%endif%}
          Schema</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "facilities" %}
            <a href="./facilities.html" class="usa-current">
          {%else%}
            <a href="./facilities.html">
          {%endif%}
          Facilities</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="tablet:grid-col-9 usa-prose">
      {{ content }}
    </div>
  </div>
</div>
