<section class="grid-container margin-bottom-5">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-3">
      <nav aria-label="Secondary navigation">
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item">
          {% if current == "about us" %}
            <a href="./documentation.html" class="usa-current">
          {% else %}
            <a href="./documentation.html">
          {% endif %}
          About us</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "elr guide" %}
            <a href="./elr-guide.html" class="usa-current">
          {% else %}
            <a href="./elr-guide.html">
          {% endif %}
          ELR integration guide</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "web receiver guide" %}
            <a href="./web-receiver-guide.html" class="usa-current">
          {% else %}
            <a href="./web-receiver-guide.html">
          {%endif%}
            Web receiver guide</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "data retention" %}
            <a href="./data-retention.html" class="usa-current">
          {% else %}
            <a href="./data-retention.html">
          {%endif%}
            Data retention</a>
          </li>
          {% comment %}
          <li class="usa-sidenav__item">
          {% if current == "terms and conditions" %}
            <a href="./terms-conditions.html" class="usa-current">
          {%else%}
            <a href="./terms-conditions.html">
          {%endif%}
          Terms and conditions</a>
          </li>
          {% endcomment %}
        </ul>
      </nav>
    </div>
    <div class="tablet:grid-col-9 usa-prose">
      {{ content }}
    </div>
  </div>
</section>
