<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}getting-started/" {% if current == "reportstream" %} class="usa-current"
    {% endif %}>Getting started</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}onboarding-checklist/">Onboarding checklist</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}system-and-settings/" {% if current == "web receiver guide" %}
    class="usa-current" {% endif %}>System and settings</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}security-practices/">Security practices</a>
</li>