<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}getting-started/" {% if title == "Getting started" %} class="usa-current"
    {% endif %}>Getting started</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}onboarding-checklist/" {% if title == "Onboarding checklist" %} class="usa-current"
        {% endif %}>Onboarding checklist</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}system-and-settings/" {% if title == "System and settings" %}
    class="usa-current" {% endif %}>System and settings</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}security-practices/" {% if title == "Security practices" %} class="usa-current"
    {% endif %}>Security practices</a>
</li>