<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text font-sans-md">
          <a href="{{ '/' | url }}" title="Home" aria-label="Home">ReportStream</a>
        </em>
      </div>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <ul class="usa-nav__primary font-sans-md">
        <li id="navmenu" class="usa-nav__primary-item {% if title == "Download" %}usa-current{% endif %}">
          <a class="usa-nav__link" href="/daily-data/"><span>Daily data</span></a>
        </li>
        <li class="usa-nav__primary-item {% if documentation %}usa-current{% endif %}">
          <a class="usa-nav__link" href="{{ site.documentationPath }}"><span>Documentation</span></a>
        </li>
      </ul>
    </nav>
    {% unless hide_signin %}
    <a id="signIn" class="usa-button usa-button--outline float-right" href="/sign-in/"><span>Sign&nbsp;in</span></a>
    <div class="prime-user-account">
      <span id="emailUser"></span>
      <br />
      <a href="#" id="logout" class="usa-link" onclick="logout(); return false;"></a>
    </div>
    {% endunless %}
  </div>
</header>

{% if current == "elr guide" or current == "web receiver guide" %}
<script src="../../js/logout.js"></script>
{% else %}
<script src="../js/logout.js"></script>
{% endif %}
{% if current == "elr guide" or current == "web receiver guide" %}
<script src="../../js/signIn.js"></script>
{% else %}
<script src="../js/signIn.js"></script>
{% endif %}
