<div class="usa-overlay"></div>

<script>
  var logout = () => {
    window.sessionStorage.removeItem( "jwt" )
    window.location.replace(`//localhost:8090`);
  }
</script>

<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text">
          <a href="{{ '/' | url }}" title="Home" aria-label="Home">ReportStream</a>
        </em>
      </div>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <ul class="usa-nav__primary usa-accordion margin-right-15">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="./data-index.html"><span>Daily data</span></a>
        </li>
<!--
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="#"><span>Facilities</span></a>
        </li>
-->
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="./documentation.html"><span>Documentation</span></a>
        </li>

<!--
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/settings/profile.html"><span>Settings</span></a>
        </li>
-->
      </ul>
      <div class="prime-user-account margin-left-10">
        <span id="emailUser"></span>
        <br />
        <a href="#" id="logout" onclick="logout(); return false;"></a>
      </div>
    </nav>
  </div>
</header>
