<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text">
          <img src="./css/logo.png" role="img" alt="Logo" style="width:32px;height:32px;vertical-align:middle;" /> 
          <a href="{{ '/' | url }}" title="Home" aria-label="Home">PRIME Data Hub</a>
        </em>
      </div>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAWlBMVEUAAABRXmtZWWZVYGpVXmhSW2RYYGhXW2ZWXWVVXGdVXWRVXWRXW2VWXWVWXGRXXGVVXGVWXGVXXGVWXGVWW2VXXGVWXGVWXWZWXGVWXGVWXGVWXGVWXGX///96YK5MAAAAHHRSTlMAExQYGxwgRkdIY2Zqmpucwtba29/g4eLj9P3+y59I/AAAAAFiS0dEHesDcZEAAAFpSURBVFjD7ZfLcoMwDEUVCg0pDXGhhQL3/7+zizQDJJZ0Hc90Ve/i4RweAelK5LpOYRrag1CruIxTqPd7zQwAXcnwZQcAc7Pde5sBAPh89fmqvx67vD/yjOHGbw0r7xtWfjVsec+w5W+GZsFu9caTLPv9sUsjcpoB1nDPA3MtAWANjzwQZAJriPGYZIjsRp9kFePxJW1sO3IN0fMDZyk6yqDw3UHk5QP+XVQKX4pQBpMnDA7vGlzeMRC8aaB4w0Dy6h/d9+SLpl4Def40g1Z8WYNevDmDVfwZg908fIPXfDyD37xsA9P8LAPXPHUDx+sGlte+P6p3Wzxr0Pm0/PCswebT8sMzBp+3DQxvGTheN7C8ZuD5uCG3rKv9g+r+Zv/6zw9/kB8yY14hl7yg2co3W3/jdzHmh+3suF/nDRzH/JHnfuhKyQ+xsS0lP8QGx5T8EBtdU/LDls8fvkXqMA1ndvxvxykcf3/8ACv19U47lBLKAAAAAElFTkSuQmCC"
          role="img"
          alt="close"
        />
      </button>
      <div class="prime-user-account">
        cbrown@cdc.gov
        <br />
        <a href="./settings.html" onclick="false">Settings</a>&nbsp;&nbsp;&nbsp;<a href="#" onclick="false">Logout</a>
      </div>
    </nav>
  </div>
</header>
