<script>
  var logout = () => {
    window.sessionStorage.removeItem( "jwt" )
    window.sessionStorage.removeItem( "idle-timer" )
    window.location.replace(`${window.location.origin}`);
      let signIn = document.getElementById("signIn");
    if( signIn )
      signIn.style.display = "block";
  }

</script>

<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text font-sans-md">
          <a href="{{ '/' | url }}" title="Home" aria-label="Home">ReportStream</a>
        </em>
      </div>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <ul id="navmenu" class="usa-nav__primary font-sans-md">
        <li class="usa-nav__primary-item {% if title == "Download" %}usa-current{% endif %}">
          <a class="usa-nav__link" href="./data-index.html"><span>Daily data</span></a>
        </li>
        <li class="usa-nav__primary-item {% if title == "documentation" %}usa-current{% endif %}">
          <a class="usa-nav__link" href="./documentation.html"><span>Documentation</span></a>
        </li>
      </ul>
    </nav>
    {% unless hide_signin %}
    <a id="signIn" class="usa-button usa-button--outline float-right" href="./data-index.html"><span>Sign&nbsp;in</span></a>
    <div class="prime-user-account">
      <span id="emailUser"></span>
      <br />
      <a href="#" id="logout" class="usa-link" onclick="logout(); return false;"></a>
    </div>    
    {% endunless %}
  </div>
</header>

<script>
  let signIn = document.getElementById("signIn");
  let navMenu = document.getElementById("navmenu");
  if( window.sessionStorage.getItem("jwt") ){
    if( signIn ) signIn.style.display = "none";
  }
  else{
    if( signIn ) signIn.style.display = "block";
    navMenu.style.display = "none";
  }


</script>
