<div class="grid-container margin-bottom-5">
    <div class="grid-row grid-gap margin-bottom-5">
        <div class="tablet:grid-col-8 usa-prose">
            {{ content }}
        </div>
    </div>
</div>