<section class="usa-site-alert usa-site-alert--info margin-bottom-3 tablet:margin-bottom-6" aria-label="Site alert">
    <div class="usa-alert">
        <div class="usa-alert__body">
            <h3 class="usa-alert__heading font-sans-md">This is a U.S. government service</h3>
            {{ alertText }}
        </div>
    </div>
</section>