<section id="facilities" class="grid-container margin-bottom-5">
  <h2>Facilities reporting</h2>
  <p id="nofacilities" class="text-italic">Facility details for this report are not available to view in ReportStream. Please download the report file.</p>

  <table id="facilitiestable" class="usa-table usa-table--borderless prime-table" summary="Previous results">
    <thead>
      <tr>
        <th scope="col">Facility</th>
        <th scope="col">CLIA</th>
        <th scope="col">Total tests</th>
      </tr>
    </thead>
    <tbody id="tBodyFac" class="font-mono-2xs">
    </tbody>
  </table>

</section>
