<section class="grid-container margin-top-5">
  <div class="grid-col-12">
    <h2>Test results</h2>

    <table class="usa-table usa-table--borderless prime-table" summary="Previous results">
      <thead>
        <tr>
          <th scope="col">Report Id</th>
          <th scope="col">Date Sent</th>
          <th scope="col">Expires</th>
          <th scope="col">Total tests</th>
          <th scope="col">File</th>
        </tr>
      </thead>
      <tbody id="tBody" class="font-mono-2xs">
      </tbody>
    </table>

  </div>
</section>
