<section class="grid-container margin-bottom-5">
    <h2>Facilities reporting (<span id="numfacilities"></span>)</h2>
    <p class="text-italic">No facilities found</p>

    <table class="usa-table usa-table--borderless prime-table" summary="Previous results">
      <thead>
        <tr>
          <th scope="col">Facility</th>
          <th scope="col">CLIA</th>
          <th scope="col">Total tests</th>
        </tr>
      </thead>
      <tbody id="tBodyFac" class="font-mono-2xs">
      </tbody>
    </table>

</section>

