---
layout: prime_page.liquid
title: "Settings"
cdn_scripts:
  - src: "https://cdn.jsdelivr.net/npm/uhtml@2.4.0/min.js"
    integrity: "sha256-pFTx1NUIxgU2M6OB3sCTkpuwmqwRspaWJAW7mrEqswo="

local_styles:
  - "/css/prime.css"
---

{% include header_gov_website %}
{% include app_topbar %}

<main>
  <div class="grid-container margin-top-4">
    <div class="grid-row">
      <div class="grid-col-auto margin-top-2 margin-right-6">
        <nav aria-label="Secondary navigation">
          <ul class="usa-sidenav">
            <li class="usa-sidenav__item"><a href="#personal_info" class="usa-current">Personal info</a></li>
            <li class="usa-sidenav__item"><a href="#team">Team</a></li>
            <li class="usa-sidenav__item"><a href="#delivery_options">Delivery options</a></li>
            <li class="usa-sidenav__item"><a href="#schema_viewer">Schema viewer</a></li>
          </ul>
        </nav>
      </div>

      <div class="grid-col-fill">
        <h4>Name & contact</h4>
        <div class="grid-row">
          <div class='flex-1'>First name</div>
          <div class='flex-5' data-key='given_name'>Ellen</div>
        </div>
        <div class="grid-row">
          <div class='flex-1'>Last name</div>
          <div class='flex-5' data-key='family_name'>Ellen</div>
        </div>
        <div class="grid-row">
          <div class='flex-1'>Email</div>
          <div class='flex-5' data-key='sub'>e.ripley@weylandyutani.com</div>
        </div>
        <div class="grid-row">
          <div class='flex-1'>Phone</div>
          <div class='flex-5'>(555) 867-5309</div>
        </div>

        <h4>Security</h4>
        <div class="grid-row">
          <div class='flex-1'>Password</div>
          <div class='flex-5'><a href=''>Reset password</a></div>
        </div>

        {% include devel_output %}
      </div>
    </div>
  </div>
</main>

{% include footer_cdc_website %}

<script type=module>
  import prime_api from '/js/prime_api.mjs'

  prime_api
    .json_get('me')
    .then( async api_query => {
      let jwt_body = JSON.parse(localStorage.getItem('jwt_body') || null)

      let dbg_obj = { api_query, jwt_body, }
      document.querySelector('output#out')
        .textContent = JSON.stringify(dbg_obj, null, 2)

      if (jwt_body) {
        for (let key of ['given_name', 'family_name', 'sub'])
          document.querySelector(`[data-key=${key}]`)
            .textContent = `${jwt_body[key]}`
      }
    })
</script>

{% include devel_tools %}
