name: Alert Stale Branches Older Than 6 Months

on:
  workflow_dispatch:
  schedule:
    - cron: "13 1 1 * *"

jobs:
  alert_stale_branches:
    name: Alert on Stale branches
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Changes
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0
      - name: Get our Counts
        id: counts
        run: |
          echo "MERGE_COUNT=$(./.github/scripts/alert_stale_branches/stale_branch_check.sh --mergedcount)" >> $GITHUB_OUTPUT
          echo "NOT_MERGE_COUNT=$(./.github/scripts/alert_stale_branches/stale_branch_check.sh --notmergedcount)" >> $GITHUB_OUTPUT
          echo "ACTION_URL=$(echo $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID)" >> $GITHUB_OUTPUT
        shell: bash
      - name: Slack Notification
        uses: ./.github/actions/notifications
        with:
          method: slack
          title: Stale Branch Counts
          message: |
            Merged ${{ steps.counts.outputs.MERGE_COUNT }}
            Not Merged ${{ steps.counts.outputs.NOT_MERGE_COUNT }}
          icon-emoji: ':bell:'
          channel: cdc-reportstream-bot-notifications
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL_NAVA_BOT_NOTIFICATIONS_CHANNEL }}
          color: warning