name: Find next person on call
on:
  push:
    branches:
      - josiahsiegel/update/oncall-alerts
  schedule:
    - cron: "7 13 * * Tue-Fri"  #UTC-5
    - cron: "7 13 * * Mon"  #UTC-5

env:
  channel: temp_branch_dump

jobs:
  pre_job:
    name: Pre Job
    runs-on: ubuntu-latest
    outputs:
      IsMonday: ${{ steps.IsMonday.outputs.IsMonday }}
      WeekDay: ${{ steps.WeekDay.outputs.IsWeekDay }}
      
    steps:
      - name: "Check out changes"
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
      - name: IsMonday
        id: IsMonday
        if: github.event_name == 'schedule' && github.event.schedule == '7 13 * * Mon'
        shell: bash
        run: echo "IsMonday=true" >> $GITHUB_OUTPUT
      
      - name: IsWeekDay
        id: WeekDay
        #if: github.event_name == 'schedule' && github.event.schedule == '7 13 * * Tue-Fri'
        shell: bash
        run: echo "IsWeekDay=true" >> $GITHUB_OUTPUT
  
  PDAlert_Monday:
    name: PD Alert for Monday
    needs: pre_job
    if: ${{ needs.pre_job.outputs.IsMonday == 'true' }}
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Changes
      uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
      with:
        fetch-depth: 0
      
    - name: Get PD oncall schedule
      id: PD
      shell: pwsh
      run: |
        ./.github/scripts/PagerDutyAlerts/TriggerPDApi.ps1 -PD_KEY "${{ secrets.PD_ROTATION_SLACK_NOTIFICATION }}" -ScheduleIds "${{ secrets.PD_ReportStream_ScheduleId }}"
    
    - name: Get PD onCall Details
      id: PDOnCall
      shell: pwsh
      run: | 
        echo  "${env:PDSchedules}" >> PDSchedules.json

    - name: JSON to variables
      uses: antifree/json-to-variables@8de3c6b94715a24fe65f29640b4e292a4add22a3
      with:
        filename: 'PDSchedules.json'
        prefix: Schedules  

    - name: Slack Notification
      uses: ./.github/actions/notifications
      with:
        method: slack
        title: Pagerduty 
        message: |
          "PagerDuty Schedule Name": "${{ env.Schedules_oncallSchedule_0_ScheduleName }}"
          "PagerDuty on-call person Now": "${{ env.Schedules_oncallSchedule_0_OnCallPersonName }}"
          "PagerDuty on-call person until": "${{ env.Schedules_oncallSchedule_0_Until }}"
          "PagerDuty Next person on-call": "${{ env.Schedules_oncallSchedule_0_NextPersonName }}"
          "PagerDuty Next person on-call from": "${{ env.Schedules_oncallSchedule_0_NextFrom }}"
          "PagerDuty Next person on-call until": "${{ env.Schedules_oncallSchedule_0_NextUntil }}"
        icon-emoji: ':alarm_clock:'
        channel:  ${{ env.channel }}
        webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
        color: good
    
    - name: Slack Notification
      uses: ./.github/actions/notifications
      with:
        method: slack
        title: Pagerduty 
        message: |
          "PagerDuty Schedule Name": "${{ env.Schedules_oncallSchedule_1_ScheduleName }}"
          "PagerDuty on-call person Now": "${{ env.Schedules_oncallSchedule_1_OnCallPersonName }}"
          "PagerDuty on-call person until": "${{ env.Schedules_oncallSchedule_1_Until }}"
          "PagerDuty Next person on-call": "${{ env.Schedules_oncallSchedule_1_NextPersonName }}"
          "PagerDuty Next person on-call from": "${{ env.Schedules_oncallSchedule_1_NextFrom }}"
          "PagerDuty Next person on-call until": "${{ env.Schedules_oncallSchedule_1_NextUntil }}"
        icon-emoji: ':alarm_clock:'
        channel:  ${{ env.channel }}
        webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
        color: good

    - name: Slack Notification
      uses: ./.github/actions/notifications
      with:
        method: slack
        title: Pagerduty 
        message: |
          "PagerDuty Schedule Name": "${{ env.Schedules_oncallSchedule_2_ScheduleName }}"
          "PagerDuty on-call person Now": "${{ env.Schedules_oncallSchedule_2_OnCallPersonName }}"
          "PagerDuty on-call person until": "${{ env.Schedules_oncallSchedule_2_Until }}"
          "PagerDuty Next person on-call": "${{ env.Schedules_oncallSchedule_2_NextPersonName }}"
          "PagerDuty Next person on-call from": "${{ env.Schedules_oncallSchedule_2_NextFrom }}"
          "PagerDuty Next person on-call until": "${{ env.Schedules_oncallSchedule_2_NextUntil }}"
        icon-emoji: ':alarm_clock:'
        channel:  ${{ env.channel }}
        webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
        color: good

    - name: Slack Notification
      uses: ./.github/actions/notifications
      with:
        method: slack
        title: Pagerduty 
        message: |
          "PagerDuty Schedule Name": "${{ env.Schedules_oncallSchedule_3_ScheduleName }}"
          "PagerDuty on-call person Now": "${{ env.Schedules_oncallSchedule_3_OnCallPersonName }}"
          "PagerDuty on-call person until": "${{ env.Schedules_oncallSchedule_3_Until }}"
          "PagerDuty Next person on-call": "${{ env.Schedules_oncallSchedule_3_NextPersonName }}"
          "PagerDuty Next person on-call from": "${{ env.Schedules_oncallSchedule_3_NextFrom }}"
          "PagerDuty Next person on-call until": "${{ env.Schedules_oncallSchedule_3_NextUntil }}"
        icon-emoji: ':alarm_clock:'
        channel:  ${{ env.channel }}
        webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
        color: good

  PDAlert_WeekDays:
    name: PD Alert for WeekDays
    needs: pre_job
    if: ${{ needs.pre_job.outputs.WeekDay == 'true' }}
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Changes
      uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
      with:
        fetch-depth: 0
      
    - name: Get PD oncall schedule
      id: PD
      shell: pwsh
      run: |
        ./.github/scripts/PagerDutyAlerts/TriggerPDApi.ps1 -PD_KEY "${{ secrets.PD_ROTATION_SLACK_NOTIFICATION }}" -ScheduleIds "${{ secrets.PD_ReportStream_ScheduleId }}"
    
    - name: Get PD onCall Details
      id: PDOnCall
      shell: pwsh
      run: | 
        echo  "${env:PDSchedules}" >> PDSchedules.json

    - name: JSON to variables
      uses: antifree/json-to-variables@8de3c6b94715a24fe65f29640b4e292a4add22a3
      with:
        filename: 'PDSchedules.json'
        prefix: Schedules  

    - name: Slack Notification
      uses: ./.github/actions/notifications
      with:
        method: slack
        title: Pagerduty 
        message: |
          "PagerDuty Schedule Name": "${{ env.Schedules_oncallSchedule_0_ScheduleName }}"
          "PagerDuty on-call person Now": "${{ env.Schedules_oncallSchedule_0_OnCallPersonName }}"
          ---
          "PagerDuty Schedule Name": "${{ env.Schedules_oncallSchedule_1_ScheduleName }}"
          "PagerDuty on-call person Now": "${{ env.Schedules_oncallSchedule_1_OnCallPersonName }}"
          ---
          "PagerDuty Schedule Name": "${{ env.Schedules_oncallSchedule_2_ScheduleName }}"
          "PagerDuty on-call person Now": "${{ env.Schedules_oncallSchedule_2_OnCallPersonName }}"
          ---
          "PagerDuty Schedule Name": "${{ env.Schedules_oncallSchedule_3_ScheduleName }}"
          "PagerDuty on-call person Now": "${{ env.Schedules_oncallSchedule_3_OnCallPersonName }}"
        icon-emoji: ':alarm_clock:'
        channel:  ${{ env.channel }}
        webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
        color: good
