name: Frontend

on:
  pull_request:
    branches:
      - master
      - production
  push:
    branches:
      - master

jobs:
  pre_job:
    name: Pre Job
    runs-on: ubuntu-latest
    outputs:
      has_frontend_change: ${{ steps.frontend.outputs.frontend }}
      has_react_change: ${{ steps.frontend.outputs.frontend-react }}
    steps:
      - name: "Check out changes"
        uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: frontend
        with:
          list-files: csv
          filters: |
            frontend:
              - '/frontend/**'
            frontend-react:
              -'/frontend-react/**'

  build_frontend:
    name: Build Frontend
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_frontend_change == 'true' }}
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: "Check out changes"
        uses: actions/checkout@v2

      - name: Run Build Script
        run: bash ci_build.bash

      - name: Save Static Website
        uses: actions/upload-artifact@v2
        with:
          name: static_website
          path: frontend/dist

      - name: Validate static website server
        run: bash ci_validate.bash

  build_frontend_react:
    name: Build Frontend React
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_react_change == 'true' }}
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend-react

    steps:
      - name: "Check out changes"
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }} with yarn
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: yarn install
      - run: yarn run build

