name: Frontend

on:
  pull_request:
    branches:
      - master
      - production
  push:
    branches:
      - master

jobs:
  pre_job:
    name: Pre Job
    runs-on: ubuntu-latest
    outputs:
      has_react_change: ${{ steps.build_vars.outputs.has_react_change }}
      env_name: ${{ steps.build_vars.outputs.env_name }}
      version: ${{ steps.build_vars.outputs.version }}
    steps:
      - name: "Check out changes"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Build vars
        id: build_vars
        uses: ./.github/actions/build-vars

  build_frontend_react:
    name: Build Frontend React
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_react_change == 'true' }}
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend-react

    steps:
      - name: "Check out changes"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Build frontend
        uses: ./.github/actions/build-frontend
        with:
          env-name: ${{ needs.pre_job.outputs.env_name }}
          appinsights-staging-key: ${{ secrets.APPINSIGHTS_STAGING_KEY }}
          appinsights-prod-key: ${{ secrets.APPINSIGHTS_PROD_KEY }}
          version: ${{ needs.pre_job.outputs.version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          test-e2e-admin-user: ${{ secrets.TEST_E2E_ADMIN_USERNAME }}
          test-e2e-admin-password: ${{ secrets.TEST_E2E_ADMIN_PASSWORD }}
          test-e2e-sender-user: ${{ secrets.TEST_E2E_SENDER_USERNAME }}
          test-e2e-sender-password: ${{ secrets.TEST_E2E_SENDER_PASSWORD }}
          test-e2e-receiver-user: ${{ secrets.TEST_E2E_RECEIVER_USERNAME }}
          test-e2e-receiver-password: ${{ secrets.TEST_E2E_RECEIVER_PASSWORD }}
