name: Router

on:
  pull_request:
    branches:
      - master
      - production
  push:
    branches:
      - master

env:
  # These are for CI and not credentials of any system
  DB_USER: prime
  DB_PASSWORD: changeIT!

jobs:
  pre_job:
    name: Pre Job
    runs-on: ubuntu-latest
    outputs:
      has_router_change: ${{ steps.skip_check.outputs.router }}
    steps:
      - name: "Check out changes"
        uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: skip_check
        with:
          list-files: csv
          filters: |
            router:
              - 'prime-router/**'
              - '.github/workflows/build_hub.yml'

  build_router:
    name: Build Router
    runs-on: ubuntu-latest
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_router_change == 'true' }}
    defaults:
      run:
        working-directory: prime-router

    steps:
      - name: "Check out changes"
        uses: actions/checkout@v2

      # Appears not to be needed on GitHub (but needed when running act [https://github.com/nektos/act] locally)
      # - name: Install docker-compose
      #   run: apt-get update && apt-get --yes install docker-compose
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: 'gradle'

      - uses: gradle/wrapper-validation-action@v1

      - name: Spin up build containers
        run: docker-compose -f docker-compose.postgres.yml up -d

      - name: Build Prime Router Package
        run: ./gradlew package -Pshowtests
        
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        # Per https://github.com/EnricoMi/publish-unit-test-result-action#support-fork-repositories-and-dependabot-branches
        if: >
          always() &&
          github.event.sender.login != 'dependabot[bot]' &&
          ( github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository )
        with:
          # This path is from the root of the repo as needed by the plugin
          files: prime-router/build/test-results/test/**/*.xml

      - name: Spin up vault
        timeout-minutes: 1
        run: |
          mkdir .vault/env
          touch .vault/env/.env.local
          docker-compose -f docker-compose.yml up -d vault
          while [ ! -s .vault/env/.env.local ]; do sleep 1; done
          echo "loaded env vars"

      - name: Make ftps dir
        run: mkdir build/ftps

      - name: Spin up containers
        id: spin_containers
        run: |
          docker-compose -f docker-compose.yml up -d prime_dev ftps sftp azurite
          
      - name: Give some time for the container to start
        uses: juliangruber/sleep-action@v1
        with:
          time: 30s
      
      - name: Load the configuration
        run: |
         ./gradlew reloadTables
         ./gradlew reloadSettings
        
      # Integrations tests require the metadata catalog
      - name: Run Integration Tests
        run: ./gradlew testIntegration -Pshowtests

      - name: Publish Integration Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        # Per https://github.com/EnricoMi/publish-unit-test-result-action#support-fork-repositories-and-dependabot-branches
        if: >
          always() &&
          github.event.sender.login != 'dependabot[bot]' &&
          ( github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository )
        with:
          # This path is from the root of the repo as needed by the plugin
          files: prime-router/build/test-results/testIntegration/**/*.xml
          check_name: "Integration Test Results"

      - name: Correct sftp perms
        run: docker-compose exec -T sftp chmod 777 /home/foo/upload

      - name: Smoke tests
        run: |
          export $(xargs < .vault/env/.env.local)
          ./prime create-credential --type=UserPass --persist=DEFAULT-SFTP --user foo --pass pass
          ./gradlew testSmoke
          
      - name: Dump docker logs
        if: always()
        uses: jwalton/gh-docker-logs@v2.2.0
        with:
          images: 'prime-router_prime_dev,vault'

      - name: Cleanup Gradle Cache
        # Remove some files from the Gradle cache, so they aren't cached by GitHub Actions.
        # Restoring these files from a GitHub Actions cache might cause problems for future builds.
        run: |
          rm -f .gradle/caches/modules-2/modules-2.lock
          rm -f .gradle/caches/modules-2/gc.properties

      - name: Generate New Schema Docs
        run: |
          # Clean the docs before regenerating
          rm -rf docs/schema_documentation/*
          ./gradlew generatedocs

      - name: Check for Uncommited Schema Docs
        id: check_changes
        continue-on-error: true
        run: |
          CHANGED_FILES=$(git status --short docs)
          if [[ -n "$CHANGED_FILES" ]]; then
            echo "Updated documentation:"
            git diff docs

            # Escape line breaks so they can be used in step output.
            # See: https://github.community/t/set-output-truncates-multiline-strings/16852
            FILES_ESCAPED="$CHANGED_FILES"
            FILES_ESCAPED="${FILES_ESCAPED//'%'/'%25'}"
            FILES_ESCAPED="${FILES_ESCAPED//$'\n'/'%0A'}"
            FILES_ESCAPED="${FILES_ESCAPED//$'\r'/'%0D'}"
            echo "::set-output name=files::$FILES_ESCAPED"

            # End with an error
            false
          fi

      - name: Add Schema doc diff as PR comment if there are changes
        if: ${{ steps.check_changes.outcome == 'failure' }}
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.number }}
          body: |
            The changes you’ve made modify the documentation, but you haven’t included new generated documentation in your commits!

            Please run `./gradlew generatedocs` to generate updated documentation, then commit the results.

            Expected changes in files:

            ```sh
            ${{ steps.check_changes.outputs.files }}
            ```

      - name: Fail if missing Schema docs are found
        if: ${{ steps.check_changes.outcome == 'failure' }}
        run: |
          false

  docker_build_test:
    name: Testing Docker Build
    runs-on: ubuntu-latest
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_router_change == 'true' }}
    defaults:
      run:
        working-directory: prime-router

    steps:
      - name: "Check out changes"
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: 'gradle'

      - uses: gradle/wrapper-validation-action@v1

      - name: Spin up build containers
        run: docker-compose -f docker-compose.postgres.yml up -d

      - name: Build Prime Router Package
        run: ./gradlew package -x fatjar -x test

      - name: Build Docker Image
        run: docker build . --file Dockerfile --tag cdcgov/reportstream:latest
          
  linting:
    name: Check Linting
    runs-on: ubuntu-latest
    steps:
      - name: Deprecated step always succeeds
        run: true
        
  docs:
    # Deprecated job.  Check schema docs was moved to build_router job
    name: Check Docs
    runs-on: ubuntu-latest
    steps:
      - name: "Deprecated step"
        run: true

