name: Destroy Demo Environment

on:
  workflow_dispatch:
    inputs:
      env_name:
        description: 'Demo Environment:'
        required: true
        options:
        - demo1
        - demo2
        - demo3
        type: choice

jobs:
  destroy_demo_environment:
    name: "Destroy Environment: ${{ github.event.inputs.env_name }}"
    if: github.event_name == 'workflow_dispatch'
    environment: ${{ github.event.inputs.env_name }}
    concurrency: ${{ github.event.inputs.env_name }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: operations/app/terraform/vars/demo
    steps:
      - name: Check out changes
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b

      - name: Use specific version of Terraform
        uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1
        with:
          terraform_version: 1.2.0
          terraform_wrapper: false

      - name: Connect to VPN and login to Azure
        uses: ./.github/actions/vpn-azure
        with:
          env-name: ${{ github.event.inputs.env_name }}
          tls-key: ${{ secrets.TLS_KEY }}
          ca-cert: ${{ secrets.CA_CRT}}
          user-crt: ${{ secrets.USER_CRT }}
          user-key: ${{ secrets.USER_KEY }}
          sp-creds: ${{ secrets.SERVICE_PRINCIPAL_CREDS }}
          tf-auth: true

      - name: Destroy demo environment
        uses: ./.github/actions/demo-env
        with:
          env-name: ${{ github.event.inputs.env_name }}
          destroy: true
