name: Log Management

on:
  workflow_dispatch:
  schedule:
    - cron: "5 3 * * *"

jobs:
  run_log_management:
    runs-on: ubuntu-latest
    name: Run log management steps
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Workflow Housekeeper - workflows NOT in default branch

        uses: ./.github/actions/workflow-housekeeper

        env:
          GITHUB_TOKEN: ${{ secrets.LOG_MANAGEMENT_TOKEN }}
        with:
          ignore-branch-workflows: true
          retention-time: '2 days'
          retain-run-count: 0
          dry-run: false
      - name: Workflow Housekeeper - workflows in default branch

        uses: ./.github/actions/workflow-housekeeper

        env:
          GITHUB_TOKEN: ${{ secrets.LOG_MANAGEMENT_TOKEN }}
        with:
          ignore-branch-workflows: false
          retention-time: '2 months'
          retain-run-count: 1
          dry-run: false
