name: Publish Container to GitHub

on:
  push:
    branches:
      - master

env:
  REGISTRY: ghcr.io

jobs:
  pre_job:
    name: Pre Job
    runs-on: ubuntu-latest
    outputs:
      has_tfcli_change: ${{ steps.skip_check.outputs.tfcli }}
      has_dnsmasq_change: ${{ steps.skip_check.outputs.dnsmasq }}
    steps:
      - name: "Check out changes"
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50
        id: skip_check
        with:
          list-files: csv
          filters: |
            tfcli:
              - 'operations/docker-compose.yml'
              - 'operations/Dockerfile'
              - '.github/workflows/build_docker.yml'
            dnsmasq:
              - 'operations/dnsmasq/**'

  publish_tfcli:
    name: Publish Terraform CLI
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_tfcli_change == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: operations
    env:
      IMAGE_NAME: cdcgov/prime-reportstream_tfcli
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check Out Changes
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f

      - name: Log In to the Container Registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Terraform CLI
        run: |
          make build-tf-cli

      - name: Push to the Container Registry
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} --all-tags

  publish_dnsmasq:
    name: Publish dnsmasq
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_dnsmasq_change == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: operations/dnsmasq
    env:
      IMAGE_NAME: cdcgov/prime-reportstream_dnsmasq
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        AZ_ENV: [ demo1, demo2, demo3, test, staging, prod ]
    steps:
      - name: Check Out Changes
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f

      - name: Log In to the Container Registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Terraform CLI
        run: |
          docker build --build-arg AZ_ENV=${{ matrix.AZ_ENV }} -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.AZ_ENV }} .

      - name: Push to the Container Registry
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} --all-tags
