name: Publish Container to GitHub

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - josiahsiegel/update/demo-env-loadtesting
  schedule:
    - cron:  "0 0 1 * *"

env:
  REGISTRY: ghcr.io

jobs:
  pre_job:
    name: Pre Job
    runs-on: ubuntu-latest
    outputs:
      has_tfcli_change: ${{ steps.skip_check.outputs.tfcli && github.event_name != 'schedule'}}
      has_dnsmasq_change: ${{ steps.skip_check.outputs.dnsmasq  || github.event_name == 'schedule'}}
    steps:
      - name: "Check out changes"
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: skip_check
        with:
          list-files: csv
          filters: |
            tfcli:
              - 'operations/docker-compose.yml'
              - 'operations/Dockerfile'
              - '.github/workflows/build_docker.yml'
            dnsmasq:
              - 'operations/dnsmasq/**'

  publish_tfcli:
    name: Publish Terraform CLI
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_tfcli_change == 'true'}}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: operations
    env:
      IMAGE_NAME: cdcgov/prime-reportstream_tfcli
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check Out Changes
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29

      - name: Log In to the Container Registry
        uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Terraform CLI
        run: |
          make build-tf-cli

      - name: Push to the Container Registry
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} --all-tags

  publish_dnsmasq:
    name: Publish dnsmasq
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_dnsmasq_change == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: operations/dnsmasq
    env:
      IMAGE_NAME: cdcgov/prime-reportstream_dnsmasq
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        AZ_ENV: [ demo1 ]
    steps:
      - name: Check Out Changes
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29

      - name: Log In to the Container Registry
        uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Terraform CLI
        run: |
          docker build --build-arg AZ_ENV=${{ matrix.AZ_ENV }} -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.AZ_ENV }} .

      - name: Push to the Container Registry
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} --all-tags
