name: Release to Azure

on:
  push:
    branches:
      - master
      - production
      - dev-rheft
      - ronheft/test-investigation

defaults:
  run:
    working-directory: prime-router

jobs:
  pre_job:
    name: "Set Build Environment"
    runs-on: ubuntu-latest
    outputs:
      env_name: ${{ steps.build_vars.outputs.env_name }}
      version: ${{ steps.build_vars.outputs.version }}
      has_router_change: ${{ steps.build_vars.outputs.has_router_change }}
      has_react_change: ${{ steps.build_vars.outputs.has_react_change }}
    steps:
      - name: Check out changes
        uses: actions/checkout@v3

      - name: Build vars
        id: build_vars
        uses: ./.github/actions/build-vars

  build_release:
    name: "Release: Build Router"
    needs:
      - pre_job
    if: needs.pre_job.outputs.has_router_change == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Check out changes
        uses: actions/checkout@v3

      - name: Build backend
        uses: ./.github/actions/build-backend
        with:
          version: ${{ needs.pre_job.outputs.version }}

  build_frontend_react_release:
    name: "Release: Build Frontend (React)"
    needs:
      - pre_job
    if: needs.pre_job.outputs.has_react_change == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend-react
    steps:
      - name: Check out changes
        uses: actions/checkout@v3

      - name: Build frontend
        uses: ./.github/actions/build-frontend
        with:
          env-name: ${{ needs.pre_job.outputs.env_name }}
          appinsights-staging-key: ${{ secrets.APPINSIGHTS_STAGING_KEY }}
          appinsights-prod-key: ${{ secrets.APPINSIGHTS_PROD_KEY }}
          version: ${{ needs.pre_job.outputs.version }}

  deploy_release:
    name: "Deploy Release: ${{ needs.pre_job.outputs.env_name }}"
    needs:
      - pre_job
      - build_release
      - build_frontend_react_release
    if: |
      always() && 
      (needs.pre_job.outputs.has_router_change == 'true' ||
      needs.pre_job.outputs.has_react_change == 'true')
    environment: ${{ needs.pre_job.outputs.env_name }}
    concurrency: ${{ needs.pre_job.outputs.env_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out changes
        uses: actions/checkout@v3

      - name: Connect to VPN and login to Azure
        uses: ./.github/actions/vpn-azure
        with:
          env-name: ${{ needs.pre_job.outputs.env_name }}
          tls-key: ${{ secrets.TLS_KEY }}
          ca-cert: ${{ secrets.CA_CRT}}
          user-crt: ${{ secrets.USER_CRT }}
          user-key: ${{ secrets.USER_KEY }}
          sp-creds: ${{ secrets.SERVICE_PRINCIPAL_CREDS }}

      - name: Deploy backend
        if: needs.pre_job.outputs.has_router_change == 'true'
        uses: ./.github/actions/deploy-backend
        with:
          env-name: ${{ needs.pre_job.outputs.env_name }}
          dct-root-pass: ${{ secrets.DCT_ROOT_PASS }}
          dct-repo-pass: ${{ secrets.DCT_REPO_PASS }}
          version: ${{ needs.pre_job.outputs.version }}

      - name: Deploy frontend
        if: needs.pre_job.outputs.has_react_change == 'true'
        uses: ./.github/actions/deploy-frontend
        with:
          env-name: ${{ needs.pre_job.outputs.env_name }}
          version: ${{ needs.pre_job.outputs.version }}
