name: Snyk Java/Kotlin scan

# refresh Snyk console results for Java/Kotlin scans when merging with main
on:
  push:
    branches:
      - main
    paths:
      -  "prime-router/**"
      -  "shared/**"

jobs:
  pre_job:
    name: Pre Job
    runs-on: ubuntu-latest
    outputs:
      has_router_change: ${{ steps.build_vars.outputs.has_router_change }}
    steps:
      - name: "Check out changes"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Build vars
        id: build_vars
        uses: ./.github/actions/build-vars

  snyk:
    name: Snyk tests
    runs-on: ubuntu-latest
    needs: pre_job
    strategy:
        fail-fast: false
        matrix:
            folder: [prime-router, shared]
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
      - uses: snyk/actions/setup@9adf32b1121593767fc3c057af55b55db032dc04
      - name: Set up JDK 17 to generate backend coverage stats
        uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73
        with:
          java-version: "17"
          distribution: "temurin"
          cache: "gradle"
      - uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884
      - name: Snyk Monitor
        working-directory: ${{ matrix.folder }}
        run: snyk monitor --org=prime-reportstream --target-reference="main"
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
