name: Snyk Java/Kotlin scan

# refresh Snyk console results for Java/Kotlin scans when merging with master
on:
  push:
    branches:
      - master
    paths:
      -  "prime-router/**"
      -  "submissions/**"

jobs:
  pre_job:
    name: Pre Job
    runs-on: ubuntu-latest
    outputs:
      has_router_change: ${{ steps.build_vars.outputs.has_router_change }}
    steps:
      - name: "Check out changes"
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - name: Build vars
        id: build_vars
        uses: ./.github/actions/build-vars

  snyk_prime_router:
    runs-on: ubuntu-latest
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_router_change == 'true' }} && secrets.SNYK_TOKEN != ''
    defaults:
      run:
        working-directory: prime-router
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: snyk/actions/setup@b98d498629f1c368650224d6d212bf7dfa89e4bf
      - name: Set up JDK 17 to generate backend coverage stats
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9
        with:
          java-version: "17"
          distribution: "temurin"
          cache: "gradle"
      - uses: gradle/actions/wrapper-validation@d9c87d481d55275bb5441eef3fe0e46805f9ef70
      - name: Snyk Monitor
        run: snyk monitor --org=prime-reportstream
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  snyk_submissions:
    runs-on: ubuntu-latest
    needs: pre_job
    if: secrets.SNYK_TOKEN != ''
    defaults:
      run:
        working-directory: submissions
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: snyk/actions/setup@b98d498629f1c368650224d6d212bf7dfa89e4bf
      - name: Set up JDK 17 to generate backend coverage stats
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9
        with:
          java-version: "17"
          distribution: "temurin"
          cache: "gradle"
      - uses: gradle/actions/wrapper-validation@d9c87d481d55275bb5441eef3fe0e46805f9ef70
      - name: Snyk Monitor
        run: snyk monitor --org=prime-reportstream
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
