name: SonarCloud Master

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  # These are for CI and not credentials of any system
  DB_USER: prime
  DB_PASSWORD: changeIT!

jobs:
  sonarcloud:
    if: github.actor != 'dependabot[bot]'
    name: SonarCloud Master
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: prime-router

    steps:
      - name: "Check out everything"
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
        with:
          fetch-depth: 0

      - name: Build backend
        uses: ./.github/actions/build-backend
        with:
          version: ${{ github.run_id }}
          upload-build: false

      - name: Use Node.js with yarn
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
        with:
          node-version-file: "frontend-react/package.json"

      - name: Yarn
        run: yarn install
        working-directory: frontend-react

      - name: Frontend Coverage
        run: yarn jest --coverage --silent --maxWorkers=100%
        working-directory: frontend-react

      - name: Run SonarCloud Scan
        uses: ./.github/actions/sonarcloud
        with:
          scan-level: default
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sonar-token: ${{ secrets.SONAR_TOKEN }}
