name: "Start Frontend Smoke Tests"

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: frontend-react
    shell: bash

env:
  TEST_ADMIN_USERNAME: ${{ secrets.TEST_ADMIN_USERNAME }}
  TEST_ADMIN_PASSWORD: ${{ secrets.TEST_ADMIN_PASSWORD }}
  TEST_SENDER_USERNAME: ${{ secrets.TEST_SENDER_USERNAME }}
  TEST_SENDER_PASSWORD: ${{ secrets.TEST_SENDER_PASSWORD }}
  TEST_RECEIVER_USERNAME: ${{ secrets.TEST_RECEIVER_USERNAME }}
  TEST_RECEIVER_PASSWORD: ${{ secrets.TEST_RECEIVER_PASSWORD }}

jobs:
  run_smoke:
    name: Frontend Smoke Tests
    runs-on: ubuntu-latest

    steps:
      - name: "Check out changes"
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
      - name: Use Node.js with yarn
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with:
          node-version-file: frontend-react/.nvmrc
          cache: yarn
          cache-dependency-path: frontend-react/yarn.lock
      - name: "Yarn install"
        run: yarn install --immutable
      - name: Install Playwright
        run: npx playwright install --with-deps
      - name: "Run frontend smoke tests"
        run: |
          echo "::group::E2E smoke tests"
          yarn run test:e2e-smoke
          echo "::endgroup::"
      - name: "Store E2E Results"
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874
        with:
         name: smoke-data
         path: frontend-react/e2e-data/
         retention-days: 7