name: Start apps in Test server

on:
  workflow_dispatch:
  # push: 
  #   branches:
  #     - feature/9537-schedulemaintenance_DemoandTest
  schedule:
    - cron: "0 5 * * MON" #UTC-5
    - cron: '0 11 * * 1-5'
jobs:
  alert_stale_branches:
    name: Start Test Subscription apps
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Changes
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      
      # Login to Azure
      - uses: azure/login@a65d910e8af852a8061c627c456678983e180302
        with:
          creds: ${{ secrets.SERVICE_PRINCIPAL_CREDS }}

      - name: Start postgres
        uses: ./.github/actions/Start-PostgresDB
        with:
          name: "pdhtest-pgsql-flex"
          resource-group: prime-data-hub-test
          subscription: OCIO-DMZ-C1
      
      - name: Start function app
        uses: ./.github/actions/Start-AzFunction
        with:
          resourceGroupName: prime-data-hub-test
          Subscription: "OCIO-DMZ-C1"
          functionName: pdhtest-functionapp
          functionAppName: pdhtest-functionapp
