name: Stop Apps in Test server

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - feature/9537-schedulemaintenance_DemoandTest
  schedule:
   - cron: "0 5 * * SAT" #UTC-5
   - cron: '0 2 * * 1-5'

env:
  AZURE_CREDENTIALS: '{"clientId":"${{ secrets.REPO_AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.REPO_AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.REPO_AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.REPO_AZURE_TENANT_ID }}"}'

jobs:
  alert_stale_branches:
    name: Stop Test Subscription apps
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Changes
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Connect to VPN and login to Azure
        uses: ./.github/actions/vpn-azure
        with:
          env-name: ${{ needs.pre_job.outputs.env_name }}
          tls-key: ${{ secrets.TLS_KEY }}
          ca-cert: ${{ secrets.CA_CRT}}
          user-crt: ${{ secrets.USER_CRT }}
          user-key: ${{ secrets.USER_KEY }}
          sp-creds: ${{ env.AZURE_CREDENTIALS }}
          tf-auth: true
      # Login to Azure
      - uses: azure/login@v2
        with:
          creds: ${{ env.AZURE_CREDENTIALS }}

      - name: Stop postgres
        uses: ./.github/actions/Stop-PostgresDB
        with:
          name: "pdhtest-pgsql-flex"
          resource-group: prime-data-hub-test
          subscription: OCIO-DMZ-C1
          pass: ${{ secrets.POSTGRESQL_Test_PWD }}
          creds: ${{ env.AZURE_CREDENTIALS }}

      - name: Stop function app
        uses: ./.github/actions/Stop-AzFunction
        with:
          resourceGroupName: prime-data-hub-test
          Subscription: "OCIO-DMZ-C1"
          functionName: pdhtest-functionapp
          functionAppName: pdhtest-functionapp
