name: Sync translation schemas

on:
  workflow_dispatch:
    inputs:
      translationType:
        type: choice
        description: Which schema type to sync
        options:
          - FHIR
          - HL7
        required: true

env:
  AZURE_CREDENTIALS: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

jobs:
  sync-schemas:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Changes
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938

      - name: Login into Azure
        uses: ./.github/actions/vpn-azure
        with:
          sp-creds: ${{ env.AZURE_CREDENTIALS }}

      - name: Build backend
        uses: ./.github/actions/build-backend
        with:
          version: ${{ github.run_id }}
          upload-build: false
          run-integration-tests: false

      # Allow runner IP for storage testing
      - name: Get runner ip
        id: runner_ip
        uses: ./.github/actions/runner-ip

      - name: Sync schemas from source to destination
        uses: ./.github/actions/retry
        with:
          timeout_minutes: 5
          max_attempts: 2
          retry_wait_seconds: 30
          command: |
            az storage account network-rule add -g prime-data-hub-staging --account-name pdhstagingstorageaccount \
            --ip-address ${{ steps.runner_ip.outputs.ip-address }} --output none;
            az storage account network-rule add -g prime-data-hub-prod --account-name pdhprodstorageaccount \
            --ip-address ${{ steps.runner_ip.outputs.ip-address }} --output none;
            sleep 10;
            cd prime-router
            stagebsc=$(az storage account show-connection-string --name pdhstagingstorageaccount --resource-group prime-data-hub-staging \
            --subscription 7d1e3999-6577-4cd5-b296-f518e5c8e677 -o tsv)
            prodbsc=$(az storage account show-connection-string --name pdhprodstorageaccount --resource-group prime-data-hub-prod \
            --subscription 7d1e3999-6577-4cd5-b296-f518e5c8e677 -o tsv)
            ./prime syncSchemas --schema-type="${{ github.event.inputs.translationType }}" -sb="$stagebsc" -sc="metadata" -db="$prodbsc" -dc="metadata"
            az storage account network-rule remove -g prime-data-hub-staging --account-name pdhstagingstorageaccount \
            --ip-address ${{ steps.runner_ip.outputs.ip-address }} --output none;
            az storage account network-rule remove -g prime-data-hub-prod --account-name pdhprodstorageaccount \
            --ip-address ${{ steps.runner_ip.outputs.ip-address }} --output none;
          shell: bash
