name: Terraform Validation

on: 
   pull_request:
     branches:
       - production
       - master
       - test
     paths:
       - '**.tf'

jobs:
  pre_job:
    name: Pre Job
    runs-on: ubuntu-latest
    outputs:
      has_operations_change: ${{ steps.build_vars.outputs.has_terraform_change }}
    steps:
      - name: Check Out Changes
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - name: Build vars
        id: build_vars
        uses: ./.github/actions/build-vars

  validate_terraform_yaml:
    name: Validate Terraform YAML
    needs: pre_job
    if: ${{ needs.pre_job.outputs.has_operations_change == 'true' }}
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Changes
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - name: Use specific version of Terraform
        uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1
        with:
          terraform_version: 1.2.0
          terraform_wrapper: false
      - name: Verify Terraform Formatting
        run: terraform -chdir=operations/app/terraform/vars/staging fmt -check -recursive ../../
  checkov-job:
    name: Run Checkov On Terraform Code
    needs: validate_terraform_yaml
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b

      - name: Run Checkov action
        uses: bridgecrewio/checkov-action@6d02f2bfc7439578719a6bc14a39015adf559ecc
        with:
          directory: operations/app/terraform
          skip_check: CKV_AZURE_139,CKV_AZURE_137,CKV_AZURE_103,CKV_AZURE_104,CKV_AZURE_102,CKV_AZURE_130,CKV_AZURE_121,CKV_AZURE_159,CKV_AZURE_67,CKV_AZURE_56,CKV_AZURE_78,CKV_AZURE_17,CKV_AZURE_63,CKV_AZURE_18,CKV_AZURE_88,CKV_AZURE_65,CKV_AZURE_13,CKV_AZURE_66,CKV_AZURE_33,CKV_AZURE_80,CKV_AZURE_35,CKV_AZURE_36,CKV_AZURE_98,CKV_AZURE_1,CKV_AZURE_15,CKV2_AZURE_1,CKV2_AZURE_8,CKV2_AZURE_15,CKV2_AZURE_21,CKV2_AZURE_18,CKV_SECRET_6
            
